<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<frameset rows="127*,234*" cols="*" framespacing="0"" frameborder="NO" border="0">
  <frame src="<%=BASEURL%>/cliente/buscarCli.html" name="topFrame" >
  <frame src="clienteUpdate.jsp?var=1" name="mainFrame">
</frameset>
<noframes><body>
</body></noframes>
</html>
<script>