/* 
    Document   : imprimible
    Created on : 5/08/2014, 05:51:31 PM
    Author     : jpacosta
    Description:
        Purpose of the stylesheet follows.
*/

@media print {
    * {
        font-size:2.2mm;
    }
    @page { 
        size: A4 portrait;   /* auto is the initial value */
        /* this affects the margin in the printer settings */ 
        margin: 10mm 5mm 10mm 5mm;  
    }
    .noPrint{
        display:none;
    }
    .ficha {
        border: 0px solid;
        height: 48% !important;
    }
    .moz *{
        padding: 0.05em 0.5em;
        margin: 0.1em 0.5em;
    }
    div.salto:not(:last-child) {
        page-break-before: always;
        height: 0mm !important;
    }/*
    .ficha.moz {
        height: 48% !important;
    }
    .ficha.oth {
        height: 48% !important;
    }
    div.salto.true:not(:last-child) {
        page-break-before: always;
        height: 0mm !important;
    }
    div.salto.false {
        height: 5mm;
    }*/
}  
div.salto.true:not(:last-child),div.salto.false {
    height: 5mm;
}
.ficha {
    border-top: 4px solid;
    margin: 0em;
}/**/
.ficha .titulo table{
    width:100%;
}
.ficha fieldset {
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.ficha fieldset table {
    width:100%;
    border: 1px solid black;
    border-collapse:collapse;
    margin:0px;
    padding:0px;
}
.ficha fieldset table td {
    border: 1px solid black;
    margin:0px;
    padding:0px;
    min-width:15px;
    max-height: 1em;
}
.ficha fieldset table th {
    border: 1px solid black;
    margin:0px;
    padding:0px;
    width: 10%;
}