/* --------------------	*/
/* Global Attributes	*/
/* --------------------	*/

/* This is where you set your desired font size. The line-heights 
   and vertical margins are automatically calculated from this. 
   The percentage is of 16px (0.625 * 16px = 10px). */

.tiger { font-size: 62.5%; }

/* Default fonts and colors 
---------------------------------------------*/

.tiger {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-size: 12px;
	text-align:left;
}

.tiger h1,.tiger h2,.tiger h3,.tiger h4,.tiger h5,.tiger h6 { 
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* Links */

/* --------------------	*/
/* Text  				*/
/* --------------------	*/

/* Headings
---------------------------------------------*/
.tiger h1, .tiger h2, .tiger h3, .tiger h4, .tiger h5, .tiger h6 { 
	font-weight: normal; 
}

.tiger h1 { font-size: 3.6em; line-height: 1; margin-bottom: 0.5em; }
.tiger h2 { font-size: 2.4em; margin-bottom: 0.75em; }
.tiger h3 { font-size: 1.8em; line-height: 1; margin-bottom: 1em; }
.tiger h4 { font-size: 1.4em; line-height: 1.25; margin-bottom: 1.25em; }
.tiger h5 { font-size: 1.2em; font-weight: bold; margin-bottom: 1.5em; }
.tiger h6 { font-size: 1.2em; font-weight: bold; }

/* Text Elemenets
---------------------------------------------*/

.tiger p 			{ font-family:Tahoma, Arial, Verdana; font-size:1.2em; margin: 0 0 1.5em; }
.tiger p.last      { margin-bottom: 0; }
.tiger p img       { float: left; margin: 0; padding: 0; }
.tiger p img.top   { margin-top: 0; } /* Use this if the image is at the top of the <p>. */

/* Forms */

/* Lists */

.tiger.ntb-grid {
	border: 1px solid #898989 !important;
}

/*********** Column headers ******************/

.tiger .ntb-grid-header {
	background: url(assets/header.png) repeat-x right top;
	height: 21px;
}

.tiger .ntb-column-descending,
.tiger .ntb-column-ascending { 
	background-color:#3875d7;
	color: #fff !important;
	border-top: 1px solid #fff;
}

.tiger .ntb-column-indicator { 
	padding: 0px 5px;
}

/* Default column settings */
.tiger .ntb-column-indicator-border,
.tiger .ntb-column-indicator-borderhover,
.tiger .ntb-column-indicator-borderascending,
.tiger .ntb-column-indicator-borderdescending,
.tiger .ntb-column-indicator-borderascendinghover,
.tiger .ntb-column-indicator-borderdescendinghover {
	background: url(assets/header_inactive.png) no-repeat right top;
	padding: 0px 1px 0px 0px; /*this is to make headers line up with data*/
    cursor: pointer; /*Firefox*/
    cursor: hand;
	height: auto;
}
.tiger .ntb-column-indicator-borderhover {
    background:url('assets/header_hover.png') no-repeat right bottom;
}
.tiger .ntb-column-indicator-borderascending {
    background:url('assets/header_ascending.png') no-repeat right bottom;
}
.tiger .ntb-column-indicator-borderdescending {
    background:url('assets/header_decending.png') no-repeat right bottom;
}
.tiger .ntb-column-indicator-borderascendinghover {
	background:url('assets/header_ascending.png') no-repeat right bottom;
}
.tiger .ntb-column-indicator-borderdescendinghover {
	background:url('assets/header_decending.png') no-repeat right bottom;
}

.tiger .ntb-column-resizeline {
    filter:alpha(opacity=50);
    -moz-opacity: .50;
    opacity: .50;
    background-color: #736F6E;
    width: 3px;
    position:absolute;
    display:none;
    top: -5000px;
    left: -5000px;
    cursor: w-resize;
    z-index: 900;
}

.tiger .ntb-grid-resizebox {
    filter:alpha(opacity=50);
    -moz-opacity: .50;
    opacity: .50;
    background-color: #736F6E;	/* gray */
    width: 3px;
    position:absolute;
    display:none;
    top: -5000px;
    left: -5000px;
    cursor: w-resize;
    z-index: 900;
}

.tiger .ntb-row {
	background: url('assets/background2.png') repeat-x top left;
}

.tiger .ntb-row-alternate {
	background: url('assets/background1.png') repeat-x top left;
}

.tiger .ntb-row-hover { 
	background-color:#c3c3c3;
}

.tiger .ntb-row-select { 
}

.tiger .ntb-cell {
    text-decoration:none;
	padding:0px 2px 0px 4px;
	white-space:nowrap;
}

.tiger .ntb-cell-border {
	border-right: #d5d5d5 1px solid;
}

.tiger .ntb-cell-hover { 
	background-color: #d0d0d0;
}

.tiger .ntb-grid-selection-background {
    background-color: #3875d7;
    filter:alpha(opacity=25);
    -moz-opacity:.25;
    opacity:.1;
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:15;
}

.tiger .ntb-loading {
    background-color:#FFFFFF;
    filter:alpha(opacity=85);
    -moz-opacity:.85;
    opacity:.85;
    z-index:200000;
    position:absolute;
	cursor:wait;
}

.tiger .ntb-loading-icon { 
	overflow:hidden; 
	z-index:300000; 
}

/******** Image editor / column ************/

.tiger .ntb-image {
}

/******** Checkbox editor / column ************/

.tiger .ntb-checkbox {
	background: url(assets/checkbox_off.gif) no-repeat right top;
	width: 15px; 
	height: 100%; 
	margin-right: 5px;
	float:left;
}

.tiger .ntb-checkbox-checked { 
	background: url(assets/checkbox_on.gif) no-repeat right top;
}

.tiger .ntb-checkbox-unchecked { 
	background: url(assets/checkbox_off.gif) no-repeat right top;
}

.tiger .ntb-checkbox-text {
	float:left;
}

.tiger input, .tiger textarea, .tiger select, .tiger ntb-input {
	/*NOTE: Inputs don't inherit front styles*/
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    border:0px solid #999;
    padding:0px 2px 0px 4px;
    width: 100px;
}

.tiger .ntb-input-border { 
	border:1px solid #999; 
	background-color: #FFFFFF; 
}

.tiger .ntb-lookup-options {
	background-color: #ffffff;
	border-top: 1px solid #999;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.tiger .ntb-resize-indicator-right {
	background: transparent url('resize_right.png') no-repeat;
	position:absolute;
	bottom:-1px;
	right:-5px;
	width:4px;
	height:10px;
	line-height:1px;
	overflow:hidden;
	cursor: nw-resize;
}

.tiger .ntb-resize-indicator-bottom {
	background: transparent url('resize_bottom.png') no-repeat;
	position:absolute;
	bottom:-5px;
	right:-5px;
	width:16px;
	height:4px;
	line-height:1px;
	overflow:hidden;
	cursor: nw-resize;
}

.tiger .ntb-grid-selection {
    background-color:transparent;
    display:block;
    height:10px;
    width:10px;
    position:absolute;
    left:-2000px;
    top:-2000px;
}

.tiger .ntb-grid-selection-grabby {
	/* Note: Always define a generic cursor 
	at the end of the list in case none of 
	the url-defined cursors can be used */
	
    position:absolute;
    right:-1px;
    bottom:-1px;
    width:5px;
    height:5px;
    overflow:hidden;
    background-color:#000000;
    cursor:pointer;
    cursor:hand;
    z-index:20;
}

.tiger .ntb-grid-selection-border {
    border: 1px solid #000000;
}

.tiger .ntb-grid-selection-border-active {
    border:1px dashed #000000;
}

.tiger .ntb-frozenshadow {
	right:-5px;
	width:5px;
	background:url('shadow.png');
}

.tiger .ntb-datepicker-button {
    width:20px;
    text-align:center;
}

.tiger .ntb-datepicker-button a {
    display:block;
    height:16px;
    width:16px;
    background: url(assets/date.gif) top left no-repeat;
}
.tiger .ntb-datepicker-button a:hover { background-position: -16px 0; }
.tiger .ntb-datepicker-input input { padding:0; margin:0; border:0; }
.tiger .ntb-hyperlink-editor { text-decoration: underline; cursor: pointer; color: blue; }
.tiger .ntb-hide { display:none; }

.tiger .ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	overflow:hidden;
	width:auto;
}

.tiger .ntb-clipboard {
    position:absolute;
    top:1px;
    left:1px;
    height:0px;
    width:0px;
    z-index:-1;
}

/*
	border-top: #b7babc 1px solid;*/
/* Toolbar Overwrite */

.tiger .ntbtoolbarcontainer {
	height: 22px !important;
}
.tiger .ntb-toolbar {
	background: #f5f5f5 url(assets/toolbar.png) repeat-x left top !important;
}
.tiger .ntb-button-highlight {
	background: url(assets/toolbar_hover.png) repeat-x left top !important;
}
.tiger .ntb-button-down {
	background: url(assets/toolbar_hover.png) no-repeat left top !important;
}.nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}