/* --------------------	*/
/* Global Attributes	*/
/* --------------------	*/

/* This is where you set your desired font size. The line-heights 
   and vertical margins are automatically calculated from this. 
   The percentage is of 16px (0.625 * 16px = 10px). */

.xp { font-size: 62.5%; }

/* Default fonts and colors 
---------------------------------------------*/

.xp {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:left;
}

.xp h1,.xp h2,.xp h3,.xp h4,.xp h5,.xp h6 { 
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* Links */

/* --------------------	*/
/* Text  				*/
/* --------------------	*/

/* Headings
---------------------------------------------*/
.xp h1, .xp h2, .xp h3, .xp h4, .xp h5, .xp h6 { 
	font-weight: normal; 
}

.xp h1 { font-size: 3.6em; line-height: 1; margin-bottom: 0.5em; }
.xp h2 { font-size: 2.4em; margin-bottom: 0.75em; }
.xp h3 { font-size: 1.8em; line-height: 1; margin-bottom: 1em; }
.xp h4 { font-size: 1.4em; line-height: 1.25; margin-bottom: 1.25em; }
.xp h5 { font-size: 1.2em; font-weight: bold; margin-bottom: 1.5em; }
.xp h6 { font-size: 1.2em; font-weight: bold; }

/* Text Elemenets
---------------------------------------------*/

.xp p 			{ font-family:Tahoma, Arial, Verdana; font-size:1.2em; margin: 0 0 1.5em; }
.xp p.last      { margin-bottom: 0; }
.xp p img       { float: left; margin: 0; padding: 0; }
.xp p img.top   { margin-top: 0; } /* Use this if the image is at the top of the <p>. */

/* Forms */

/* Lists */

.xp.ntb-grid {
	border: 1px solid #7f9db9 !important;
}

/*********** Column headers ******************/

.xp .ntb-grid-header {
	background: url(assets/header.png) repeat-x left top;
	height: 21px;
}

.xp .ntb-column-descending, .xp .ntb-column-ascending { 
	background-color:#316ac5;
	color: #fff !important;
	border-top: 1px dotted #ce953a;
}

.xp .ntb-column-indicator { 
	padding: 2px;
}

.xp .ntb-column-indicator-border,
.xp .ntb-column-indicator-borderhover,
.xp .ntb-column-indicator-borderascending,
.xp .ntb-column-indicator-borderdescending,
.xp .ntb-column-indicator-borderascendinghover,
.xp .ntb-column-indicator-borderdescendinghover {
	background: url(assets/seperator.png) no-repeat;
	padding: 0px 1px 0px 0px; /*this is to make headers line up with data*/
	background-position: 100% 3px;
    cursor: pointer; /*Firefox*/
    cursor: hand;
}
.xp .ntb-column-indicator-borderhover {
	color: #316ac5;
}
.xp .ntb-column-indicator-borderascending {
	background: url(assets/arrow_up.png) no-repeat;
	background-position: 100% 3px;
	color: #316ac5;
}
.xp .ntb-column-indicator-borderdescending {
	background: url(assets/arrow_down.png) no-repeat;
	background-position: 100% 3px;
	color: #316ac5;
}

.xp .ntb-column-resizeline {
    filter:alpha(opacity=50);
    -moz-opacity: .50;
    opacity: .50;
    background-color: #736F6E;	/* gray */
    width: 3px;
    position:absolute;
    display:none;
    top:-5000px;
    left:-5000px;
    cursor: w-resize;
    z-index: 900;
}

.nitobi .ntb-grid-resizebox {
    filter:alpha(opacity=50);
    -moz-opacity: .50;
    opacity: .50;
    background-color: #736F6E;	/* gray */
    width: 3px;
    position:absolute;
    display:none;
    top: -5000px;
    left: -5000px;
    cursor: w-resize;
    z-index: 900;
}

.xp .ntb-row {
}

.xp .ntb-row-alternate {
}

.xp .ntb-row-hover { 
	background-color:#c3c3c3;
}

.xp .ntb-row-select { 
	clear:both; 
}

.xp .ntb-cell {
    text-decoration:none;
	padding:0px 2px 0px 4px;
	white-space:nowrap;
}

.xp .ntb-cell-border {
	border-right: #d5d5d5 1px solid;
}

.xp .ntb-cell-hover { 
	background-color: #c3c3c3;
}

.xp .ntb-grid-selection {
    background-color:transparent;
    display:block;
    height:10px;
    width:10px;
    position:absolute;
    left:-2000px;
    top:-2000px;
}

.xp .ntb-grid-selection-grabby {
	/* Note: Always define a generic cursor 
	at the end of the list in case none of 
	the url-defined cursors can be used */
	
    position:absolute;
    right:-1px;
    bottom:-1px;
    width:5px;
    height:5px;
    overflow:hidden;
    background-color:#000000;
    cursor:pointer;
    cursor:hand;
    z-index:20;
}

.xp .ntb-grid-selection-border {
    border: 1px solid #000000;
}

.xp .ntb-grid-selection-border-active {
    border:1px dashed #000000;
}

.xp .ntb-grid-selection-background {
    background-color: #ffc73c;
    filter:alpha(opacity=25);
    -moz-opacity:.25;
    opacity:.25;
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:15;
}

.xp .ntb-loading {
    background-color:#FFFFFF;
    filter:alpha(opacity=85);
    -moz-opacity:.85;
    opacity:.85;
    z-index:200000;
    position:absolute;
	cursor:wait;
}

.xp .ntb-loading-icon { 
	overflow:hidden; 
	z-index:300000; 
}

/******** Image editor / column ************/

.nitobi .ntb-image {
}

/******** Checkbox editor / column ************/

.xp .ntb-checkbox {
	background: url(assets/checkbox_off.png) no-repeat center center;
	width: 15px; 
	height: 100%; 
	margin-right: 5px;
	float:left;
}

.xp .ntb-checkbox-unchecked {
	background: url(assets/checkbox_off.png) no-repeat center center;
}

.xp .ntb-checkbox-checked {
	background: url(assets/checkbox_on.png) no-repeat center center;
}

.xp .ntb-checkbox-text {
	float:left;
}

.xp input, .xp textarea, .xp select, .xp ntb-input {
	/*NOTE: Inputs don't inherit front styles*/
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    border:0px solid #000000;
    padding:0px 2px 0px 4px;
    width: 100px;
}

.xp .ntb-input-border { 
	border:1px solid #000000; 
	background-color: #FFFFFF; 
}

.xp .ntb-lookup-options {
	background-color: #ffffff;
	border-top: 1px solid #000000;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.xp .ntb-resize-indicator-right {
	background: transparent url('resize_right.png') no-repeat;
	position:absolute;
	bottom:0px;
	right:-4px;
	width:4px;
	height:10px;
	line-height:1px;
	overflow:hidden;
	cursor: nw-resize;
}

.xp .ntb-resize-indicator-bottom {
	background: transparent url('resize_bottom.png') no-repeat;
	position:absolute;
	bottom:-4px;
	right:-4px;
	width:15px;
	height:4px;
	line-height:1px;
	overflow:hidden;
	cursor: nw-resize;
}

.xp .ntb-datepicker-button {
	/* change class name from .ntb-dp-input .ntb-dp-inputbutton */
    width:20px;
    text-align:center;
}

.xp .ntb-datepicker-button a {
	/* changed from .ntb-dp-input .ntb-dp-inputbutton a */
    display:block;
    height:16px;
    width:16px;
    background: transparent url("date.gif") no-repeat;
}
.xp .ntb-datepicker-button a:hover { background-position: -16px 0; }
.xp .ntb-datepicker-input input { padding:0; margin:0; border:0; }
.xp .ntb-hyperlink-editor { text-decoration: underline; cursor: pointer; color: blue; }
.xp .ntb-hide { display:none; }

.xp .ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	overflow:hidden;
	width:auto;
}

.xp .ntb-clipboard {
    position:absolute;
    top:1px;
    left:1px;
    height:1px; /* This is for Safari */
    width:1px;
    z-index:-1;
}

/* Toolbar Overwrite */

.xp .ntbtoolbarcontainer {
	height: 21px !important;
	border-top: 1px solid #7f9db9 !important;
}
.xp .ntb-toolbar {
	background: url(assets/toolbar.png) left top repeat-x !important;
}
.xp .ntb-button-highlight {
	background: url(assets/toolbar_hover.png) left top no-repeat !important;
}
.xp .ntb-button-down {
	background: url(assets/toolbar_hover.png) left top no-repeat !important;
}.nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}