/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/04/2015, 04:54:08 PM
    Author     : mariana
*/

button:hover{
    background: url("images/ui-bg_highlight-soft_50_4eb305_1x100.png") repeat-x scroll 50% 50% #4EB305;
    border: 1px solid #008000;
    color: #FFFFFF;
    font-weight: normal;
}

label {
    font-family: Tahoma,Arial;
    padding-left: 5px;  
    font-size: 11px;
}  

label.titulotablita{
    color:#ffffff;
    padding: 10px;
    line-height: 25px
}

label.titulo2tablita{
    color:#ffffff;
    padding: 8px;
    line-height: 25px
}
label.tip{
    padding-left: 10px;  
}

select.stipo   {
    border-radius: 4px;
}

select.empres  {
    border-radius: 4px;
}

select.est   {
    border-radius: 4px;
}

#div_importar_anticipo {
    background-color: #FFF;
    width: 600px;
    height: 150px;
    border-radius: 4px;
    padding: 1px; 
    border: 1px solid #2A88C8;
    margin: 15px auto 0px;
}

html {
    font-size: 15px
}

#tablainterna{
    border: 0;
    width: 100%;
    height: 80px;
    margin: 10px 5px 5px 5px;
}

#tablita{
    border: 1px solid ;
    border-radius: 4px;
    border-color:#2A88C8 !important;
    width: 941px;
    position: relative;  
    background-color: #ffffff;   
} 
#tablitaopciones{
    border: 1px solid ;
    border-radius: 10px 10px 10px 10px;
    border-color: #070;
    width: 200px;
    height: 90px;
    position: relative;
    top: 120px;
    background-color: #ffffff;   
} 

#encabezadotablita{
    height: 40px;
    border: 1px solid #2A88C8 !important;
    border-radius: 4px;
    margin-top: 2px;
    font-family: sans-serif;
    font-style: normal;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 15px;
    border-radius: 4px;
    text-align: center;
    background:#2A88C8 !important;

}
#encabezado2tablita{
    /* background: linear-gradient( 45deg,#070,#ffffff );*/
    border: 1px solid; 
    border-radius: 0px 0px 0px 0px;
    background-color: #2A88C8 !important;;
    height: 20px;
    text-align: left;
    border-color: #2A88C8 !important;;
}
#botones{
    border: 0px;
    height: 30px;
    text-align: right;
    margin-right: 13px ;
    margin-bottom: 10px
}

.ventana{
    display: none;
}

.input{    
    width: 120px;
    color: black;
    text-transform: uppercase;
}

.cajita{
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    border-color: #070;
    text-align: left !important;
    margin: 10px 10px 10px 10px;
}

.tituloCajita{
    font-family: initial; 
    padding-left: 5px;  
}

.fieldset{
    border-radius: 4px;
    margin: 10px;
    border: 1px solid;
    border-color: #070
}
.onoffswitch {
    margin-left: 23px;
    margin-bottom: 5px;
    margin-top: -7px;
    position: relative; width: 43px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 14px; padding: 0; line-height: 14px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SI";
    padding-left: 4px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 4px;
    background-color: #C20F0F; color: #F5F0F0;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 25px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: -9px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

#jqContextMenu{
    width:175px !important; 
    border: 1px solid #CEF6E3  !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10px !important;
    z-index:1100 !important;
}

#listopciones{
    width:172px !important;  
    background: #F5FAFA !important;
    color: #797268 !important;
}

#contenedor{
    width: 982px;
    height: 95px;
    border-radius: 4px; 
    border: 1px solid #008000;
    background: #FFF none repeat scroll 0% 0%;
    margin-bottom: 28px;
    margin-top: -65px;
}

#contenido{
    /*    margin-top: 250px;
        margin-left: 129px;*/
    background-color: #FFF;
    border-color: #2A88C8;
    border: 1px solid ;
    border-color: #2A88C8;

    width: 1421px;
    height: 444px;
    border-radius: 14px;
}