#gview_tbl_grupos_apu .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #F2F2F2 !important;
    color:black !important;
}

.ui-jqgrid .ui-pg-table td{
    color:black !important;
}
.ui-paging-info, .ui-icon .ui-icon-newwin{
    color:black !important;
}
.ui-state-default .ui-icon {
    background-image: url("jquery/jquery-ui/images/ui-icons_2e83ff_256x240.png") !important;

}