/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/04/2015, 05:08:27 PM
    Author     : mcastillo
*/

#frm_loadfile{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:justify;
    position:relative; 
    border-radius: 8px;
    border:1px solid #2A88C8;
    background-color:  #ffffff;
    padding: 10px;  
    
}

.frm_search{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:justify;
    position:relative; 
    border-radius: 8px;
    border:1px solid #2A88C8;
    background-color:  #ffffff;
    padding: 10px 20px 10px 20px;  
    width:680px;
    
}

.ui-dialog {
    height:auto !important;
}


button:hover{
    background: url("images/ui-bg_highlight-soft_50_4eb305_1x100.png") repeat-x scroll 50% 50% #4EB305;
    border: 1px solid #008000;
    color: #FFFFFF;
    font-weight: normal;

}

#jqContextMenu{
    width:175px !important; 
    border: 1px solid #CEF6E3  !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10px !important;
    z-index:1100 !important;
}


#lstOpciones{
    width:172px !important;  
    background: #F5FAFA !important;
    color: #797268 !important;
}

.odd {
 	border-right: 1px solid #C1DAD7 !important;
	border-bottom: 1px solid #C1DAD7 !important;
	background: #fff !important;	
 	color: #4f6b72 !important;
 }
.even {
    background: #F5FAFA !important;
	color: #797268 !important;
 }
.highlight, .odd:hover, .even:hover {
  background-color: #CEF6E3 !important;
}

