/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/01/2017, 09:02:22 AM
    Author     : user
*/

/*
#wast div{
    outline: 1px solid #000;
}*/

#wast{
    width: 85%;
    margin: 5px auto;
}

