body {
	margin-left: 0px;
	margin-top: 0px;
	background-color: #EEEEEE;
	margin-right: 0px;
	margin-bottom: 0px;
}

/*FRAME*/

/*Titulo azul del frame superior*/
.subtitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size: small; 
	color: #FFFFFF; 
	background-color:#003399;
}
/*Color de el titulo del formulario (1er color)*/
.subtitulo1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color:#4D71B0;
	font-weight: bold;  
	font-size:11px;
}
.informacion {
	color: #003399;
	font-family: Tahoma, Arial;
	font-size: 11px;
}

.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #003399; 
}
/*Segundo color que lleva el titulo de la tabla*/
.barratitulo {
    background-color:#D1DCEB; 
}

a:link {
	color: #003399;
}
a:visited {
	color: #660066;
}
a:hover {
	color: #0000FF;
}
a:active {
	color: #FF00FF;
}
/*Letras normales del frame*/
.letra {
    color: #003399;
	font-family: Tahoma, Arial;
	font-size: small;
	font-size: 12px;
	background-color:#D1DCEB;
}


.letraresaltada {	
    color: #003399;
	font-family: Tahoma, Arial;
	font-size: small;
	font-weight: bold;
	font-size: 12px;
}
.fila {	
    color: #003399;
	font-family: Tahoma, Arial;
	background-color:#D1DCEB;
	font-size: 11px;
	border-top-color:#CC0000;	
}
.letrafila {	
    color: #003399;
	font-family: Tahoma, Arial;
	font-size: 11px;
}
.filaresaltada {	
    color: #003399;
	font-family: Tahoma, Arial;
	font-size: 11px;
	background-color:#D1DCEB;
	font-weight: bold;
	font-size: 11px;
}
.textbox{
    font-family: Tahoma, Arial;
	font-size:11px;
	color:#003399;		   	
    border-top-width:thin;
	border-top-style:solid;
	border-style:groove;	
}
.listmenu{
    font-family: Tahoma, Arial;
	font-size:11px;
	color:#003399;	
	border-style:groove;	
}
.boton{
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #003399;
	background-color:#FEFFF2;
    border-color: #D5E2FF;
	border-style:groove;
		
}
.mensajes {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF; 
    font-size: 11px;
	font-weight: bold;
	font-size: 12px;
	background-color:#FF9933;
}
.tablaInferior{	
    borderColor:#F7F5F4;
	bgColor:#FF9933;	
	/*color: #FF9933;
    background-color: #FFFFFF;*/
}
.filagris{
    bordercolor:#E6E6E6;
    bgcolor:#EEEEF2;
}
.filaazul{
    bordercolor:#E6E6E6;
    bgcolor:#EEEEF2;
}

.textSinBorde{
    font-family: Tahoma, Arial;
	font-size:11px;
	color:#003399;
	border-style:none;	
}
.filagris{ 
   color: #003399;
   font-family: Tahoma, Arial;
   font-size: 11px;
   background-color:#F7F5F4;   
}
.filaazul{
   color: #003399;
   font-family: Tahoma, Arial;
   font-size: 11px;
   background-color:#EEEEF2; 
}
.filaseleccion{
   /* color: #003399;*/
   /* background-color:#FFFFFF; */
   font-family: Tahoma, Arial;
   font-size: 11px;
   color: #FFFFFF; 
   background-color:#003399;
   font-weight: bold;
}

/*sandra*/
.encabezado{
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size:11px; color: #003399;
}
.tblTitulo {
    color: #003399;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#FFFFFF;
}

/*Borde de color de los reportes se coloca en cada <td>*/
.bordereporte{
	border: 1PX double #E6E6E6;
}
.textobligatorio{
    font-family: Tahoma, Arial;
 font-size:12px;
 color:#003399;      
    background-color:#C0CCE2;
 border-top-width:thin;
 border-top-style:solid;
 border-style:groove; 
}
.textreadonly{
    font-family: Tahoma, Arial;
 font-size:12px;
 color:#003399;      
    background-color:#F4F7FB;
 border-top-width:thin;
 border-top-style:solid;
 border-style:groove; 
}

/*Letras del titulo*/
.letraTitulo {
    color: #003399;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
}
