/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/04/2016, 10:15:28 AM
    Author     : user
*/
#div_generar_contrato {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:justify;
    position:relative; 
    border-radius: 8px;
    border:1px solid #2A88C8;
    background-color:  #ffffff;
    padding: 10px;      
}

fieldset { 
    border-radius: 8px;
    border:1px solid #2A88C8;
    color: #000;
}

.frm_search{

    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:justify;
    position:relative; 
    border-radius: 8px;
    border:1px solid #2A88C8;
    background-color:  #ffffff;
    padding: 10px 20px 10px 20px;  
    width:310px;
    top:20px;

}

#encabezadotablita{
    height: 26px;
    border: 1px solid #2A88C8 !important;
    border-radius: 4px;
    margin-top: -7px;
    font-family: sans-serif;
    font-style: normal;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 15px;
    border-radius: 4px;
    text-align: center;
    background:#2A88C8 !important;
}

label.titulotablita{
    color:#ffffff;
    padding: 10px;
    line-height: 25px
}

.tablas{
    padding: 0;
    margin: 0;
    border-collapse:collapse;
}

.tablas th{
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    border-right: 1px solid #C1D0DA;
    border-left: 1px solid #C1D0DA;
    border-bottom: 1px solid #C1D0DA;
    border-top: 1px solid #C1D0DA;
    letter-spacing: 1px;
    //text-transform: uppercase;
    text-align: center;
    padding: 3px 3px 3px 3px;
    background: #2A88C8;
}

.tablas td{
    border-right: 1px solid #CEF2F6;
    border-left: 1px solid #CEF2F6;
    border-bottom: 1px solid #CEF2F6;
    border-top: 1px solid #CEF2F6;
    padding: 3px 3px 3px 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color:#FDFEFF; 
}

.tablas tr:hover td {
    background-color: rgba(222, 248, 255, 0.73) !important;
}


#equiv_variables {
    padding:5px; /*Espaciado interno*/
    width:320px; /*Ancho del contenedor*/
    height:350px; /*Alto del contenedor*/
    text-align:center; /*Alineación del texto*/
    background-color:#FFFFFF; /*Color de fondo*/
    position:absolute; /*Permite que se mantenga estático*/
    display:none; /*Oculta el contenedor*/
    left:80%; /*Separación del borde izquierdo*/
    bottom:80px; /*Separación inferior del borde*/
    top: 0px;  /*Separación superior del borde*/
    box-shadow:0 0 5px #555; /*Sombras CSS3*/
    overflow-y: scroll;
}

.titulo_ventana {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #2A88C8; //#4297d7; 
    background: #2A88C8; //#006C3A; 
    color: #ffffff; 
    font-weight: bold;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; 
    padding: .5em 1em .3em; 
    position: relative;
    cursor: move; 	
}

.onoffswitch {
    margin-left: 23px;
    margin-bottom: 5px;
    margin-top: -7px;
    position: relative; width: 43px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 14px; padding: 0; line-height: 14px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SI";
    padding-left: 4px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 4px;
    background-color: #C20F0F; color: #F5F0F0;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 25px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: -9px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

input {  
    color: #000  !important;
}

#gbox_tabla_garantias { 
    margin-left: auto; margin-right: auto; 
}

#jqContextMenu{
    width:115px !important; 
    border: 1px solid #CEF6E3  !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10px !important;
    z-index:9999 !important;
}

#lstOpciones{
    width:112px !important;  
    background: #F5FAFA !important;
    color: #797268 !important;
}

.bordecotizacion{
    border:1px solid #234684 !important;
}

.ui-jqgrid-sdiv{
    border-bottom-left-radius: 8px !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    display: none
}