/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/10/2014, 11:59:59 AM
    Author     : hcuello
*/


.ventana{
    display:none;    
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
    font-size:12px;
    text-align:justify;

}


button:hover{
    background: url("images/ui-bg_highlight-soft_50_4eb305_1x100.png") repeat-x scroll 50% 50% #4EB305;
    border: 1px solid #008000;
    color: #FFFFFF;
    font-weight: normal;

}


.form_editar_cliente {
    margin-top: 10px;
    color: #0A320A;
    padding: 1px;
    width: 337px;
    height: 64px;
    position: relative;
    top: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: #FFF;
    -moz-box-sizing: border-box;
    border-radius: 7px;
}
