/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/08/2016, 05:14:08 PM
    Author     : William Siado
*/

#btnoculto {
    margin-top: 320px;
    z-index: 2;
}
#divtbl_cotizacion {
    display: flex;
    justify-content: flex-start;
}
#divListaNegocios {
    width: 875px;
    height: 650px;
    overflow: scroll;
    overflow-x: hidden;
}
#divbarra{
    height:  650px;
    background: #397ead;
    border: 1px solid #234684;
    color: #ffffff;
    font-weight: bold;
    border-radius: 7px;


}
#divbarra2{
    height:  26px;
    background: #397ead;
    border: 1px solid #234684;
    color: #ffffff;
    font-weight: bold;
    border-radius: 7px;


}

/*#cbx_rent_esquema{
    margin-left: 575px;
    margin-top: 11px;
    position: absolute;
    width: 84px;
    z-index: 2;
}*/

fieldset{
    border:2px solid #397ead;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	

}
