/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/07/2015, 06:39:26 PM
    Author     : mcastillo
*/

body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;   
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

div#eventContent p {
   font-family: Arial, Helvetica, sans-serif;
   font-size:16px;
   font-weight: normal;
   text-align: justify;
}