/* 
    Document   : editarClientesOriginal
    Created on : 7/09/2014, 03:09:24 PM
    Author     : egonzalez
    Description:
        Purpose of the stylesheet follows.
*/

.form_editar_cliente, .header_cliente {
    background-color: #2A88C8;
    padding: 7px;
    border-radius: 7px;
}
.form_editar_cliente {
    margin-top: 10px;
    color: #0A320A;
    padding: 1px;
    width: 855px;
    /*height: 470px;*/
    position: relative;
    top: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: #FFF;
    -moz-box-sizing: border-box;
    border-radius: 7px;
}

.titulo{
    font-size: 16px;
    color: #F7F5F7;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.1px;
    line-height: 21px;
    margin-left: 5px
}

.tabla{
    width: 765px;
    margin-top: 3%;
}

select {
    background: #68AFDF;
    background-position: 280px center;
    background-repeat: no-repeat;
    padding: 5px;
    font-size: 14px;
    color:#F7F5F7 !important ;
    font-weight: bold;
    font-family: helvetica, sans-serif;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    width: 150px;
}
select:hover{
    background-color: #2A88C8;
}



button:hover{
    background: url("images/ui-bg_highlight-soft_50_4eb305_1x100.png") repeat-x scroll 50% 50% #4EB305;
    border: 1px solid #008000;
    color: #FFFFFF;
    font-weight: normal;

}


input {

    font-family: helvetica, sans-serif  !important;
    font-size: 15px  !important;
/*  color: #040  !important;*/
    letter-spacing: 0.1px  !important;
    height: 23px  !important;
    text-align: left  !important;
    font-weight: bold !important;
    text-transform: uppercase !important;

}


.td { 
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color:   rgba(10, 50, 10, 1);
    /*line-height: 1.3 ;*/
}

.ventana{
    display:none;    
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
    font-size:12px;
    text-align:justify;

}

.titulo_ventana {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #2A88C8;
    background: #2A88C8;
    color: #ffffff; 
    font-weight: bold;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; 
    padding: .5em 1em .3em; 
    position: relative;
    cursor: move; 	
}
  
#tabla_negocios {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tabla_negocios td, #tabla_negocios th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabla_negocios tr:nth-child(even){background-color: #f2f2f2;}

#tabla_negocios tr:hover {background-color: #ddd;}

#tabla_negocios th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2A88C8;
  color: white;}