/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/01/2017, 11:12:03 AM
*/
.container{
    width: 90vw;

}
body{
    background-color: white !important;
    min-height: 500px;
}

.wizard {
    margin: 0px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 0px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 20%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 1317px;
        height: auto !important;
        position: fixed;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}


/*////////////// circulo*/
.round-button {
    width:50px;
    height:50px;
}
.round-button-circle {
    border: 3px solid #5bc0de;
    border-radius: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.round-button-circle:hover {
   box-shadow: 0 0 3px gray;
   background-color: #5bc0de;
}
.round-button-circle a{
    display: block;
    height: 100%;
         
}

span.round-w i{
    color:#5bc0de;
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 45px;
}

span.round-w i:hover{
    color:white;
}

/*////////////// circulo*/

#tablabusqueda{
    margin-top:  10px;
    /*margin-bottom: 5px;*/
}
#tablabusqueda>tbody>tr>td{
    padding: 1px !important;
}
.hrw{
    margin-bottom: 5px;
    margin-top: 10px;
}

.ui-dialog-titlebar-close{
    display: none !important;
}