/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/02/2016, 09:52:15 AM
    Author     : hcuello
*/
/*
#busqueda{
    //margin-left: 20px;    
    background-color: rgb(42, 136, 200);
    position: absolute;
    width: 100%;
    height: 53px;
}

#divInterno{
    
margin-top: 2px;
background-color: #FFF;
margin-left: 0px;
height: 27px;
padding: 10px;
position: relative;
}

select{    
    width: 130px;
    color: #050505;
    height: 22px;
    margin-left: 5px;
}
*/
label{
    color: #050605;
    font-family: Tahoma,Verdana,Arial;
    font-size: 14px;
    margin-left: 10px;
  
   // position: absolute;
}

#busqueda_avanzada{
    float:left;
    display: none;      
}

.radio-toolbar input[type="radio"] {
    display:none;      
}

.radio-toolbar label {
    display: inline-block;
    background-color: #DDD;
    padding: 3px 10px;
    font-family: Arial;
    font-size: 14px;
    border-radius: 5px;
}

.radio-toolbar input[type="radio"]:checked + label { 
    background-color:#F8A71A ;
}

.ventana{
    display:none;    
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
    font-size:12px;
    text-align:justify;

}

.combo_150px_disabled {
    font-size: 10px;
    font-style: normal;
    width: 150px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;        
    background: #dddddd;        
}

.botton_disabled {
    margin-left: 10px;margin-top: -3px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
    background: #dddddd;
}

.onoffswitch {
    position: relative; width: 46px; float:right;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 19px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 16px; padding: 0; line-height: 14px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 13px;
    background: #167ac6 url("../images/botones/iconos/chulo.png") no-repeat;
    background-position: 4px;
    //background: #2BA849 url("../images/botones/iconos/chulo.gif") no-repeat;      
    //background-color: #2BA849; 
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 13px;
    background: #C2C2C2;  
    //background-color: #C2C2C2; 
    color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: -3px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 19px;
    position: absolute; top: 0; bottom: 0; right: 24px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}