    div.fixedHeaderTable {
            position: relative;
    }
    div.fixedHeaderTable tbody {
        height: 350px;
        overflow-y: scroll;
        overflow-x: scroll;
    } 
    div.fixedHeaderTable thead td, div.fixedHeaderTable thead th {
            position:relative;
    }

    /* IE7 hacks */
    div.fixedHeaderTable {
        *position: relative;
        *height: 350px;
        *overflow-y: scroll;
        *overflow-x: scroll;
        *padding-right:16px;
    }

    div.fixedHeaderTable thead tr {
        *position: relative;
        _position: absolute;
        *top: expression(this.offsetParent.scrollTop-2);
        *background:none;
        background-color:green;
        color: white;
        border-color: silver;
    }

    div.fixedHeaderTable tbody {
        *height: auto;
        *position:absolute;
        *top:50px;
    }
    /* IE6 hacks */
    div.fixedHeaderTable {
            _width:expression(this.offsetParent.clientWidth-20);
            _overflow: auto;
        _overflow-y: scroll;
        _overflow-x: scroll;
    }
    div.fixedHeaderTable thead tr {
            _position: relative
    }