
.letra {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.letra_resaltada {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #000000;
}
.titulo {
	background-color:#FFA928;
	color: #000000; 
	font-weight: bold; 
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
}

.subtitulos {
	background-color:#99CCFF;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	font-color: #00000;
}

.fila {
	background-color:#ECE0D8;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-color: #00000;
}


.pie {
	background-color:#ECE0D8;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	font-color: #00000;
}


.pagina {
	background-color:#B7D0DC;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	font-color: #00000;
}

.boton{
	/*background-color:#006699;*/
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#00000;
	font-weight:bold;
	border-:1px thin;
	/*border-color:#E7F3F9;*/
	cursor:hand;

}
.textbox{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	
}
.mensajes {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#00000;
	font-style:normal;
	font-weight:300;
	font-weight: bold;
}
body{
   background-color:#ebebeb;
}

.subtitulo1 {
    color="#007EBB";
	font-weight: bold; 
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-color: #00000;
}
.scroll {
	scrollbar-arrow-color:#0099CC;
  	scrollbar-track-color:#ebebeb;
  	scrollbar-shadow-color:#0099CC;
  	scrollbar-face-color:#ebebeb;
  	scrollbar-highlight-color:#0099CC;
  	scrollbar-darkshadow-color:#ebebeb;
  	scrollbar-3dlight-color:#0099CC;
	
}

.fondoverde{
   background-color:#99cc99;
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-color: #00000;
}
.mayuscula{
    text-transform: uppercase;
}
.ptrafico {
	font-family: vedana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.filaTra {
	background-color:#ECE0D8;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-color: #00000;
}

.Simulacion_Hiper
{
    color: blue;
    font-family: Arial;
    font-size: 11px;
    text-decoration: none
    font-weight: bold; 
}
.descarga{
behavior:url(#default#download);
}

.fondoverde2{
   background-color:#BDCE10;
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-color: #00000;
}
