   .encabezado   { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:white; background-color:#006699};
   .transparente { ;color:#999999; font-family:Verdana; font-size:10px; font-weight:bold; }
      
   .campos       { background-color: #BDD1E8; color:#000000; font-family:Tahoma; font-size:10px; text-align:center; border:1 outset  #BDD1E8; cursor:hand; width:80;};
   .filtros      { background-color: #FFFFCC; color:#000000; font-family:Tahoma; font-size:10px; text-align:center; border:1 outset  #FFFFCC; cursor:hand; width:80;};
   .rows         { background-color: #FFCC99; color:#000000; font-family:Tahoma; font-size:10px; text-align:center; border:1 outset  #FFCC99; cursor:hand; width:80;};   
   .cols         { background-color: #9999FF; color:#000000; font-family:Tahoma; font-size:10px; text-align:center; border:1 outset  #9999FF; cursor:hand; width:80;};      
   .datos        { background-color: #66CCCC; color:#000000; font-family:Tahoma; font-size:10px; text-align:center; border:1 outset  #66CCCC; cursor:hand; width:80;};      


<!-- estilos del menu -->
.skin {
  cursor:hand;
  BORDER-RIGHT: black 1px solid; 
  BORDER-TOP: black 1px solid; 
  VISIBILITY: hidden; 
  FONT: 10px Tahoma; 
  COLOR: #003399;
  BORDER-LEFT: black 1px solid; 
  WIDTH: 150px; CURSOR: default; 
  BORDER-BOTTOM: black 1px solid; 
  POSITION: absolute; 
  BACKGROUND-COLOR: #D1DCEB
}
.menuitem { width:100%;PADDING-RIGHT: 5px; PADDING-LEFT: 5px}

<!-- fin estilos del menu -->
   

