/* 
    Document   : EstilosExtracto
    Created on : 10 de febrero de 2005, 10:53 AM
    Author     : amendez
    Description: Hoja de estilos para los extractos
*/

.TableHeaderDecoration
{
	font-size: 12px;
	font-weight: bold;
	font-family: Tahoma;
	color: black;
        background-color: #AFDBF6;
}

.TableSubHeaderDecoration
{
	font-size: 10px;
	font-weight: bold;
	font-family: Tahoma;
	color: black;
        background-color: #DCD8C9;
}

.TableRowDecoration
{
	font-size: 10px;
	font-family: Tahoma;
	color: black;
        background-color: #ECE9D8;
}

H1.SaltoDePagina
{
   PAGE-BREAK-AFTER: always
}
