/*fondo de pagina*/
input{
    font-family: Tahoma, Arial;
	font-size:12px;
	color:#003399;
}

select{
    font-family: Tahoma, Arial;
	font-size:12px;
	color:#003399;	
	border-style:groove;
}

.msgLogin{
	color:#FF0000;
	font-family: Verdana, Arial;
	font-size: 8px;
	font-weight: bold;
}

/*Trafico*/
.encabezado{
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size:11px; color: #FFFFFF;
}
/*FRAME*/

/*Titulo azul del frame superior*/
.subtitulo {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size: small; 
	color: #FFFFFF; 
	background-color:#003399;
}

/*Letras del titulo*/
.letraTitulo {
    color: #003399;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
}

/*Letras resaltadas del frame*/
.letrasFrame {	
    color:#000000;
	font-family: Tahoma, Arial;
	font-size: small;
	font-weight: bold;
	font-size: 12px;
}
/*Letras normales del frame*/
.letra {
    color: #003399;
	font-family: Tahoma, Arial;
	font-size: small;
	font-size: 12px;
	background-color:#D1DCEB;
}


/*VINCULO <a href></a>*/
/*a:link {
	color: #CC0000;
}*/
a:visited {
	color: #660066;
}
a:hover {
	color: #FF0000;
}
a:active {
	color: #660066;/*#FF0000;*/
}

.letraresaltada {	
    color: #003399;
	font-family: Tahoma, Arial;
	font-size: small;
	font-weight: bold;
	font-size: 12px;
}

/*FORMULARIO*/

/*Clase de la tabla interior de los formulario*/
.tablaInferior{
	border-spacing:inherit;
	border-width:0;	
}

/*Estilo de las filas del formulario*/
.fila {
    color: #003399;
	font-family: Tahoma, Arial;
	background-color:#D1DCEB;
	font-size: 12px;
	font-weight: bold;
/*border-top-color:#CC0000;	*/
}

/*campos de texto*/
.textbox{
    font-family: Tahoma, Arial;
	font-size:12px;
	color:#003399;		   	
    border-top-width:thin;
	border-top-style:solid;
	border-style:groove;	
}

.listmenu{
    font-family: Tahoma, Arial;
	font-size:12px;
	color:#003399;	
	border-style:groove;	
}

/*Color de el titulo del formulario (1er color)*/
.subtitulo1 {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF; 
	background-color:#4D71B0;
	font-weight: bold;
	font-size:12px;
}

/*Segundo color que lleva el titulo de la tabla*/


/*Mensajes en pantalla*/
.mensajes {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF; 
    font-size: small;
	font-weight: bold;
	font-size: 12px;
	background-color:#FF9933;
}

.informacion {
	color: #003399;
	font-family: Tahoma, Arial;
	font-size: 11px;
}

/*LISTAS*/


/*Fila seleccionada*/
.filaseleccion{
   font-family: Tahoma, Arial;
   font-size: 12px;
   color: #FFFFFF; 
   background-color:#003399;
   /*font-weight: bold;*/
}

.filaresaltada {	
    color: #003399;
	font-family: Tahoma, Arial;
	font-size: small;
	background-color:#D1DCEB;
	font-weight: bold;
	font-size: 12px;
}
/*Borde de color de los reportes se coloca en cada <td>*/


.bordereporteSot{
	border: 1PX double #E6E6E6;
        font-size: 9px;
}

/*Encabezado Trafico*/
.encabezado{
   font-family: Verdana;/*, Arial, Helvetica, sans-serif; */
   font-size:12px; color: #FFFFFF; 
}

/*IMPRESION*/

/*Inicia una nueva página*/
H1.SaltoDePagina{
   PAGE-BREAK-AFTER: always
}

/**simulacion Hipervinculo*/
.Simulacion_Hiper{
    color: blue;
    font-family: Tahoma;
    font-size: 11px;
    text-decoration: underline;
    font-weight: bold; 
}

/*Armando Oviedo*****************************************************/
/*color de fila verde, utilizado en listavalidaciónseries*/
.filaverde{
   color: #003399;
   font-family: Tahoma, Arial;
   font-size: 12px;
   background-color:#BADBB9; 
}
/*color de fila amarilla, utilizado en listavalidaciónseries*/
.filaamarilla{
   color: #003399;
   font-family: Tahoma, Arial;
   font-size: 12px;
   background-color:#FBF2C4; 
}
/*color de fila rojo, utilizado en listavalidaciónseries*/
.filaroja{
   color: #003399;
   font-family: Tahoma, Arial;
   font-size: 12px;
   background-color:#EF9C9C; 
}

.letraSot {
    color: #000000;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:smaller;
}
/**********************************************************************/
/*                Estilos para el sistema de Ayuda                    */
/**********************************************************************/
/*   .encabezado   { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:white; background-color:#006699};*/
   .transparente { ;color:#999999; font-family:Verdana; font-size:10px; font-weight:bold; }
      
   .campos       { background-color: #BDD1E8; color:#000000; font-family:Tahoma; font-size:10px; text-align:center; border:1 outset  #BDD1E8; cursor:hand; width:80;};
   .filtros      { background-color: #FFFFCC; color:#000000; font-family:Tahoma; font-size:10px; text-align:center; border:1 outset  #FFFFCC; cursor:hand; width:80;};
   .rows         { background-color: #FFCC99; color:#000000; font-family:Tahoma; font-size:10px; text-align:center; border:1 outset  #FFCC99; cursor:hand; width:80;};   
   .cols         { background-color: #9999FF; color:#000000; font-family:Tahoma; font-size:10px; text-align:center; border:1 outset  #9999FF; cursor:hand; width:80;};      
   .datos        { background-color: #66CCCC; color:#000000; font-family:Tahoma; font-size:10px; text-align:center; border:1 outset  #66CCCC; cursor:hand; width:80;};      
*/

<!-- estilos del menu -->
.skin {
  cursor:hand;  
  position:absolute;
  text-align:left;
  font-family: Tahoma;
  color:#000000;
  font-size: 10px;
  width:120px;
  background-color:#93ABD2;
  border:1 solid buttonface;
  border:2 outset buttonhighlight;
  visibility:hidden;
}
.menuitem { width:100%}

.fuenteAyuda {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
    color:#000000;
}
/*************************************************************/
/*              FIN ESTILOS DE AYUDA                         */
/*************************************************************/
.tblTituloSinFondo {
    color: #003399;
	font-weight: bold;
	font-family: Tahoma;/*, Arial, Helvetica, sans-serif;*/
	font-size:smaller;
}
/*Texto de las paginas de ayuda de las paginas HTML*/
.ayudaHtmlTexto{
   FONT-SIZE: 10pt; 
   COLOR: black; 
   FONT-FAMILY: Tahoma; 
   TEXT-ALIGN: justify
}

<!--
.campo_sinBorde{
    font-family: Tahoma, Arial;
 font-size:12px;
 color:#003399;
 background-color:#D1DCEB;
 border-style:none; 
}
.Titulos {
    color: #FFFFFF;
 font-weight: bold;
 font-family: Tahoma, Arial, Helvetica, sans-serif;
 font-size:smaller;
 background-color:#003399;
}
.encabezadoContab {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; 
	font-weight: bold; 
        font-size:12px;
	color: red; 
}
-->



/*Titulo de los reportes o listas*/

.tblTitulo {
    color: #003399;
	font-weight: bold;
	font-family: Tahoma;/*, Arial, Helvetica, sans-serif;*/
	font-size:9px;
	background-color:#FFFFFF;
}

.tblTitulo1 {
    color: #003399;

	font-family: Tahoma;/*, Arial, Helvetica, sans-serif;*/
	font-size:8px;
	background-color:#FFFFFF;
}
/*color de  filas*/
.filagris{ 
   color: #003399;
   font-family: Tahoma, Arial;
   font-size: 8px;
   background-color:#F7F5F4;   
}
.filaazul{
   color: #003399;
   font-family: Tahoma, Arial;
   font-size: 8px;
   background:#EEEEF2; 
}

.tblTitulo2 {
    color: #FFFFFF;
	font-weight: bold;
	font-family: Tahoma;/*, Arial, Helvetica, sans-serif;*/
	font-size:9px;
	background-color:#6699CC;
}
.tblTitulo3 {
    color: #FFFFFF;
	font-weight: bold;
	font-family: Tahoma;/*, Arial, Helvetica, sans-serif;*/
	font-size:9px;
	background-color:#FF9996;
}

.fila1 {
	background-color:#FFFFC9;
	color:navy;
	font-family:Tahoma;
	font-size:8px;
	
}
.fila2 {
	background-color:#FFFFF1;
	color:navy;
	font-family:Tahoma;
	font-size:8px;
}
.fila3 {
	background-color:#FFFCCC;
	color:navy;
	font-family:Tahoma;
	font-size:8px;
}
.bordereporte{	
}

.barratitulo {
    background:#D1DCEB; 
}