body {
	margin-left: 0px;
	margin-top: 0px;
	background-color: #EEEEEE;
	margin-right: 0px;
	margin-bottom: 0px;
}
 
.subtitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size: small; 
	color: #FFFFFF; 
	background-color:#003399;
}

.subtitulo1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #003399; 
	background-color:#BDCE10;
	font-weight: bold;
	font-size:12px;
}
.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: small; 
	color: #003399; 
}
.barratitulo {
    background-color:#F7F5F4; 
}
a:link {
	color: #003399;
}
a:visited {
	color: #660066;
}
a:hover {
	color: #0000FF;
}
a:active {
	color: #FF00FF;
}
.letra {
    color: #003399;
	font-family: Tahoma, Arial;
	font-size: small;
	font-size: 12px;
}
.letraresaltada {	
    color: #003399;
	font-family: Tahoma, Arial;
	font-size: small;
	font-weight: bold;
	font-size: 12px;
}
.fila {
    color: #003399;
	font-family: Tahoma, Arial;
	background-color:#FFFFFF;
	font-size: 12px;
	font-weight: bold;
	border-top-color:#CC0000;
	
}
.filalectura {
        color: #003399;
	font-family: Tahoma, Arial;
	background-color:#FFFFFF;
	font-size: 12px;
	border-top-color:#CC0000;
}
.letrafila {	
    color: #003399;
	font-family: Tahoma, Arial;
	font-size: 12px;
}
.filaresaltada {	
    color: #003399;
	font-family: Tahoma, Arial;
	font-size: small;
	background-color:#FFFFFF;
	font-weight: bold;
	font-size: 12px;
}
.textbox{
    font-family: Tahoma, Arial;
	font-size:12px;
	color:#003399;		   	
    border-top-width:thin;
	border-top-style:solid;
	border-style:groove;	
}
.listmenu{
    font-family: Tahoma, Arial;
	font-size:12px;
	color:#003399;	
	border-style:groove;	
}
.boton{

	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#00000;
	font-weight:bold;
	border-:1px thin;
	cursor:hand;
		
}
.mensajes {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF; 
        font-size: small;
	font-weight: bold;
	font-size: 12px;
	background-color:#FF9933;
}
.tablaInferior{	
    borderColor:#F7F5F4;
	bgColor:#FF9933;	
	/*color: #FF9933;
    background-color: #FFFFFF;*/
}

.bordereporte{
	border: 1PX double #E6E6E6;
}
.filagris{ 
   color: #003399;
   font-family: Tahoma, Arial;
   font-size: 12px;
   background-color:#F7F5F4;   
}
.filaazul{
   color: #003399;
   font-family: Tahoma, Arial;
   font-size: 12px;
   background-color:#EEEEF2; 
}
.filaseleccion{
   font-family: Tahoma, Arial;
   font-size: 12px;
   color: #FFFFFF; 
   background-color:#003399;
   font-weight: bold;
}
/*sandra*/
.encabezado{
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size:smaller; color: #003399;
}
.tblTitulo {
    color: #003399;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:smaller;
	background-color:#FFFFFF;
}
.textobligatorio{
    font-family: Tahoma, Arial;
	font-size:12px;
	color:#003399;		   	
    background-color:#C0CCE2;
	border-top-width:thin;
	border-top-style:solid;
	border-style:groove;	
}
.textreadonly{
    font-family: Tahoma, Arial;
	font-size:12px;
	color:#003399;		   	
    background-color:#F4F7FB;
	border-top-width:thin;
	border-top-style:solid;
	border-style:groove;	
}
.textSinBorde{
    font-family: Tahoma, Arial;
	font-size:11px;
	color:#003399;
	border-style:none;	
}

/*****/
.texto_obligatorio{
    font-family: Tahoma, Arial;
	font-size:12px;
	color:#003399;		   	
    background-color:#C0CCE2;
	border-top-width:thin;
	border-top-style:solid;
	border-style:groove;	
}
.texto_opcional{
    font-family: Tahoma, Arial;
	font-size:12px;
	color:#003399;		   	
    background-color:#F4F7FB;
	border-top-width:thin;
	border-top-style:solid;
	border-style:groove;	
}
.texto_sinBorde{
    font-family: Tahoma, Arial;
	font-size:11px;
	color:#003399;
	border-style:none;	
}

.texto_soloLectura{
    font-family: Tahoma, Arial;
	font-size:12px;
	color:#003399;		   	
    border-top-width:thin;
	border-top-style:solid;
	border-style:groove;	
}

.Simulacion_Hiper
{
    color: blue;
    font-family: Arial;
    font-size: 11px;
    text-decoration: none
    font-weight: bold; 
}
.texto_Rojo{
    font-family: Tahoma, Arial;
	font-size:12px;
	background-color:#FF0000;
	font-weight:bold;   	
}

.ayudaHtmlTexto{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    background-color:#E6F4FF; 
}

