/* 
    Document   : EstilosReportes
    Created on : 14 de abril de 2004, 10:53 AM
    Author     : iherazo
    Description: Hoja de estilos para los reportes.
*/

body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.TableHeaderDecoration
{
	font-size: 14px;
	font-weight: bold;
	font-family: Tahoma;
	color: black;
        background-color: #AFDBF6;
}

.TableSubHeaderDecoration
{
	font-size: 12px;
	font-weight: bold;
	font-family: Tahoma;
	color: black;
        background-color: #DCD8C9;
}

.TableRowDecoration
{
	font-size: 12px;
	font-family: Tahoma;
	color: black;
        background-color: #ECE9D8;
}

.style1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

.Estilo8 { font-family: Arial, Helvetica, sans-serif }

.Estilo10
{
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
}

.Estilo12
{
	font-size: 10px;
	font-weight: bold;
}

.Estilo11 { font-size: 9px }

.Estilo16
{
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-weight: bold;
}

.Estilo18 { color: #000000 }

.Estilo22
{
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: bold;
}

.Estilo23
{
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.TablePrintDecoration
{
	font-size: 10px;
	font-family: Tahoma;
	color: black;
}

.TableNoteDecoration
{
	font-size: 8px;
	font-family: Tahoma;
	color: black;
}

.TableFrameDecoration {
     border-right-width: 1px;
     border-right-style: solid;
     border-right-color: #666666;
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: #666666;
     border-top-width: 1px;
     border-top-style: solid;
     border-top-color: #666666;
     border-left-width: 1px;
     border-left-style: solid;
     border-left-color: #666666;
     font-weight: bold;
}