/* 
    Document   : EstilosFiltrosReportes
    Created on : 14 de abril de 2004, 10:54 AM
    Author     : iherazo
    Description: Hoja de estilos para los filtros de los reportes.
*/

.TableHeaderDecoration
{
	font-size: 14px;
	font-weight: bold;
	font-family: Tahoma;
	color: white;
  background-color: #8EB3F4;
}

.TableSubHeaderDecoration
{
	font-size: 12px;
	font-weight: bold;
	font-family: Tahoma;
	color: black;
  background-color: #DCD8C9;
}

.TableRowDecoration
{
	font-size: 12px;
	font-family: Tahoma;
	color: black;
        background-color: #DCD8C9;
}

.TableRowDecorationAlert
{
	font-size: 12px;
	font-family: Tahoma;
	color: black;
        background-color: #FFA928;
}

.textboxes
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #F5F5F5;
  border: 1px solid #77C9FF;
}

.botones
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  background-color: #AADDFF;
  border: 1px solid #0099FF;
}

.MessageDecoration
{      
        color: FF0000; 
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px; 
        font-weight: bold;
}

.NoVisible
{
  visibility: hidden;
}