/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/09/2015, 02:47:50 PM
    Author     : egonzalez
*/

.ventana{
    display:none;    
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
    font-size:12px;
    text-align:justify;

}

#frm_loadfile{
    
    background-color: white;
    width: 650px;
    height: 100px;
    border-radius:4px ;
    padding: 10px 10px 10px 10px;
    border:1px solid #2A88C8 ;
    margin:15px auto 0 auto;
        
}

h3{
    background-color:rgb(213, 231, 252)
}

#contenedor{
    margin:15px auto 0 auto;
    display: none;
    
}


#loadfile_cc{ 
    
    background-color: white;
    width: 650px;
    height: 178px;
    border-radius:4px ;
    padding: 10px 10px 10px 10px;
    border:1px solid #2A88C8 ;
    margin:15px auto 0 auto;        
}

.clasTd{
    font-weight: bold;    
}

#desplegable{
    width: 300px;
    height:400px ;
    background-color: #2A88C8;
    border-radius: 0px 10px 7px 7px;
    box-shadow: 5px 5px 5px #888888;
    border:1px solid #2A88C8 ;
    z-index: 5000;
    position: fixed;
}

#internoNoty{
    overflow-y: auto;
    width: 290px; 
    height:305px ;
    border-radius: 7px 7px 7px 7px;
    background-color:  #2A88C8;
    margin:10px auto 0 auto;
    border:1px solid #2A88C8 ;
    z-index: 5000;
    //position: fixed;
    
}

.errorClass{
    height: auto; 
    background-color: #FFFDDC; 
    padding: 5px;
    border:1px solid rgba(31, 144, 227, 0.7);    
    border-radius: 6px;
    
}

#contenedor_1{
    margin:15px auto 0 auto;
    display: none;
    
}