/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/10/2016, 10:32:13 AM
    Author     : mcastillo
*/

.frm_search{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:justify;
    position:relative; 
    border-radius: 8px;
    border:1px solid #2A88C8;
    background-color:  #ffffff;
    padding: 10px 20px 10px 20px;  
    width:790px;
    top:20px;
    
}