/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/09/2019, 07:51:07 AM
    Author     : mcamargo
*/

.filtro{
    width: 460px;
    margin: 10px auto; 

}

.header_filtro{
    text-align: center;   
    border: 1px solid #234684;
    background: #2A88C8;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px 8px 0px 0px;
}

.body_filtro{                
    background: white; 
    border:1px solid #2A88C8;
    height: 100px;
    border-radius: 0px 0px 8px 8px;
}

.contenido{
    height: 83px; 
    width: auto;
    margin-top: 5px;
}

label{
    display: block;
    text-align: center;
    font-family: 'Lucida Grande','Lucida Sans',Arial,sans-serif;
    font-size: 15px;
}

.caja{
    float:left;
    margin-left:10px;
    margin-right:10px;
    margin-top: 8px;
}
input[type=text],select{
    padding: 5px 5px;
    margin: 8px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    color: black;
}
.select {
    font-size: 12px;
    background: #2A88C8;
    color: white;
    font-weight: bold;
}
.button {
    padding: 8px 8px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #2a88c8;
    border: none;
    border-radius:8px;
    margin: 22px auto;
    font-weight: bold;
}