/*
 *Form CSS
 */
.form-all {
    list-style: none;
    list-style-position: outside;
    margin: 0px;
    font-family: Verdana;
    font-size: 12px;
}

.form-captcha {
    border: 1px solid #ccc;
    background: #f5f5f5;
    padding: 6px;
    width: 152px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
.underlined {
    text-decoration: underline;
}

#payment_total{
    display:inline-block;
}

.form-payment-subtotal, .form-payment-shipping {
    font-size: 10px;
    
}

#coupon-message {
    font-size: 10px;
    font-weight: normal;
    white-space: normal;
}
.form-captcha:hover {
    border: 1px solid #aaa;
}

.form-captcha-image {
    border: 1px solid #aaa;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}

.form-collapse-table{
     height:58px;
     border:1px solid #ccc;
     background:#f5f5f5 url(../../images/soft-grad.png) repeat-x;
     position:relative;
}

.form-list{
    padding:3px;
    border:1px solid #CCC;
    -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2) inset;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
.form-list option{
    padding:2px;
}
.form-list option:nth-child(2n+1){
    background:#f5f5f5;
}

.form-textarea {
    font-family: "Lucida Grande", Verdana;
}

.form-textarea-limit{
    
}
.form-textarea-limit > span{
    display:inline-block;
}
.form-textarea-limit textarea{
    /*border:1px solid #aaa;*/
    overflow:auto;
}
.form-textarea-limit textarea:focus{
    outline:none !important;
}
.form-textarea-limit-indicator{
    /*background: none repeat scroll 0 0 #F5F5F5;
    border-color: -moz-use-text-color #AAAAAA #AAAAAA;
    border-right: 1px solid #AAAAAA;
    border-style: none solid solid;
    border-width: medium 1px 1px;*/
    color: #666666;
    font-size: 9px;
    margin-top: -1px;
    padding: 2px;
    text-align: right;
}
.form-textarea-limit-indicator-error{
    background:#FFAAAA;
    color:#fff;
}

.nicEdit-main {
    background-color: white;
}

.form-datetime-validation-error {
    background:#FFAAAA;
    color:#fff;   
}

.form-collapse-left{
    
}
.form-collapse-mid{
     text-shadow:0px 2px 0px #fff;
     float:left;
     font-size:18px;
     margin:16px 45px 16px 20px;
}

.form-product-item{
    display:inline-block;
    padding:5px 5px 5px 10px;
    position:relative;
    overflow: hidden;
    
}

.form-product-item img {
    display:block;
    position: static;
    margin: 0 12px 0 0;
    float:left;

    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
}

.hover-product-item:hover{
    background:#f5f5f5;
    color:#000;
}

.form-product-item label, .form-product-item .form-radio, .form-product-item .form-checkbox {
    cursor: pointer;
}
.form-special-subtotal {
    display: block;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 6px;
}

.form-product-image, .form-product-image-with-options{
    margin:5px;
    margin-left:10px;
}

.form-product-image-with-options{
    position:absolute;
    top:15px;
    -moz-border-radius:5px 5px;
	-webkit-border-radius:5px 5px;
	border-radius:5px 5px;
}


.form-radio, .form-checkbox{
    vertical-align:middle;
    margin:0px;
    padding:0px;
}

.form-radio-item, .form-checkbox-item{
    margin-top:5px;
    float:left;
}
.form-multiple-column, .form-single-column{
    display:inline-block;
    /*display: inline; 
    zoom: 1;
    *display: inline;*/
}
.form-multiple-column .form-radio-item, .form-multiple-column .form-checkbox-item{
    width:150px;
}

.form-radio-item label, .form-checkbox-item label{
    margin-left:5px;
}
.form-radio-item br, .form-checkbox-item br{
    clear:left;
}

.form-submit-button, .form-submit-reset, .form-submit-print, .form-screen-button{
    margin:0px;    
    overflow:visible;
    padding:1px 6px;
    width:auto;
}
.form-submit-button::-moz-focus-inner, .form-submit-reset::-moz-focus-inner{
    border: 0px;
    padding:1px 6px;
}

.form-button-red{
	border: 1px solid red;
}

.form-button-magenta{
	border: 1px solid magenta;
}
.form-screen-message{
    /*float:left;*/
    width: 260px;
    height: 100px;
}

.form-screen-button div{
    background-image: url("/images/photo.png");
    background-position:center;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
}

.form-screen-button {
    /*float:left;*/
    position:absolute;
    top:1px;
    
    margin:0px;
    margin-left:10px;
    padding:0px;
    
    background: #fdc000; /* Old browsers */
    background: -moz-linear-gradient(top, #fdc000 0%, #fe8900 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdc000), color-stop(100%,#fe8900)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdc000 0%,#fe8900 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdc000 0%,#fe8900 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fdc000 0%,#fe8900 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc000', endColorstr='#fe8900',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #fdc000 0%,#fe8900 100%); /* W3C */
   
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .6), 0 1px 0 rgba(255,255,255,.6) inset;
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .6), 0 1px 0 rgba(255,255,255,.6) inset;
    box-shadow:0 1px 0 rgba(255, 255, 255, .6), 0 1px 0 rgba(255,255,255,.6) inset;
    
    border:1px solid #ae5d00;
    border-radius: 5px;
}

.form-screen-button:hover {
    background: #fcc932; /* Old browsers */
    background: -moz-linear-gradient(top, #fcc932 0%, #fc9e32 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcc932), color-stop(100%,#fc9e32)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcc932 0%,#fc9e32 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcc932 0%,#fc9e32 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fcc932 0%,#fc9e32 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc932', endColorstr='#fc9e32',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #fcc932 0%,#fc9e32 100%); /* W3C */
    
    border:1px solid #ae5d00;
}

.form-screen-button:active {
    background: #fe8900; /* Old browsers */
    background: -moz-linear-gradient(top, #fe8900 0%, #fdc000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe8900), color-stop(100%,#fdc000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fe8900 0%,#fdc000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fe8900 0%,#fdc000 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fe8900 0%,#fdc000 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8900', endColorstr='#fdc000',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #fe8900 0%,#fdc000 100%); /* W3C */
    
    border:1px solid #C56600;
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .6), 0 -1px 0 rgba(255,255,255,.6) inset;
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .6), 0 -1px 0 rgba(255,255,255,.6) inset;
    box-shadow:0 1px 0 rgba(255, 255, 255, .6), 0 -1px 0 rgba(255,255,255,.6) inset;
}
.form-screenshot-plate{
    background: url("../../images/noises/defaultdesktop.png") repeat scroll 0 0 transparent;
    border: 2px solid #545454;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) inset;
    margin: 10px 0;
    text-align: center;
}
.form-screenshot-img{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    margin: 14px 0;
    display:inline-block;
}
.form-screenshot-img img{
    
}

.form-submit-print::-moz-focus-inner{
    padding:0px 6px;
}
.form-submit-print{
    padding:1px 6px;
}
.form-submit-print img{
    margin-left: -14px;
    margin-right: 3px;
    margin-top: -3px;
}
.form-submit-print{
    margin-bottom: -4px;
    margin-top: -6px;
    margin-left: -6px;
    margin-right: 5px;
}

.form-submit-button-img{
    border:none !important;
    margin:0 !important;
    padding:0 !important;
    background: none !important;
    cursor: pointer !important;
}

.form-collapse-right{
     position:absolute;
     right:0px;
     height:58px;
     width:40px;
}
.form-collapse-right-show{
     background: url(../../images/arrow-open.png) no-repeat center;
}
.form-collapse-right-hide{
     background: url(../../images/arrow-closed.png) no-repeat center;
}

.form-collapse-hidden {
    display: none;
}

.form-grading-item {
    margin-bottom: 3px;
}

.form-header {
    margin:0px;
}

.form-footer {
	margin: 0px;
	text-align:center;
	font-size: 9px;
	color: #999;
	font-weight: 300;
}
.form-subHeader {
    border-top: 1px solid #ccc;
    font-style: italic;
}

.form-header-group{
    background:#f5f5f5;
    border-bottom:1px solid #ccc;
    padding:12px;
	clear:both;
}

.form-footer-group{
/*    background:#f5f5f5;*/
/*    border-bottom:1px solid #ccc;*/
    padding:12px;
	clear:both;
}

.form-label {
    width: 150px;
    margin-bottom: 6px;
    display:inline-block;
    white-space:normal;
}

.form-label-top {
    margin-bottom:6px;
    display:block;
    white-space:normal;
}

.form-label-left {
    float:left;
    display:inline-block;
    text-align:left;
    padding:3px;
    white-space:normal;
}

.form-label-right {
    float:left;
    display:inline-block;
    text-align:right;
    margin-bottom:6px;
    padding:3px;
    white-space:normal;
}

.form-input-wide {
}

.form-section, .form-section-closed {
    list-style:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
    position:relative;
    zoom:1;
    clear:both;
}

.form-section-closed {
    overflow: hidden;
    height: 60px;
}

.form-input {
   display:inline-block;
}

.form-line {    
	clear:both;
	padding:10px;
	margin:0px;
	/* Changed display to block to prevent a bug in Chrome */
    display:block;
    width:97%;
    width:-moz-available;
    /* Removed this because it was changing the size of the migrated forms */
	/* border:1px solid transparent ; */
	position:relative;
}

.form-line-column{
    float:left;
    clear:none;
    width:auto;
    white-space:nowrap;
}
/* Added css rule below to retain display:inline-block for shrunken fields */
.form-line.form-line-column {
	display:inline-block;
}

.form-line-column-clear{
    clear:left;
    width:auto;
}

.form-line-active {
    background-color: #FFFFE0;
    /*outline: 1px solid #EEEED0;*/
    color:#333;
}

.form-matrix-table {
    border-collapse: collapse;
    font-size: 10px;
    margin-bottom: 5px;
}

.form-matrix-column-headers {
    border: 1px solid #ccc;
    background: #ddd;
    color:inherit;
    text-align:center;
}

.form-matrix-row-headers {
    border: 1px solid #ccc;
    background: #ddd;
}

.form-matrix-values {
    border: 1px solid #ccc;
    background: #f5f5f5;
}

.form-pagebreak{
    border-top:1px solid #ccc;
    background:#f5f5f5;
    height:60px;
    clear:left;
}

.form-pagebreak-back-container, 
.form-pagebreak-next-container{
    float:left;
    padding:10px;
    padding-top:14px;
}

.form-pagebreak-next-container{
    padding-left:0px;
}

.form-pagebreak-back, 
.form-pagebreak-next{
    -webkit-border-radius:5px 5px;
    -webkit-box-shadow:0px 1px 2px #aaa;
    -moz-border-radius:5px 5px;
    -moz-box-shadow:0px 1px 2px #aaa;
	border-radius:5px 5px;
	box-shadow:0px 1px 2px #aaa;
    border:1px solid #999;
    background:#ddd;
    padding:5px;
    margin:0px;
    font-size:14px;
}

.form-pagebreak-next{
    margin:0 0 0 20px;
}

.button-hidden {
    display:none;
}

.form-required {
    margin-left: 5px;
    color: red;
}

.form-scale-table {
    font-size: 12px;
}

.form-scale-table th {
    border-bottom: 1px solid #ccc;
    color: #999;
}

.form-product-details {
    font-size: 9px;
    color: #999;
    font-style: italic;
}

.form-product-options-text, .form-product-child-label {
    font-weight: normal;
    word-wrap: break-word;
}

.form-product-child-table {
    margin-top: 4px;
}

.form-product-child-table td, .form-product-child-table th {
    padding: 2px 6px;
}
.form-product-child-price {
    font-size: 0.786em;
    font-weight: bold;
    font-style: italic;
    color: #999;
}

.form-address-table{
    width:330px;
}

.form-address-line{
    width:310px;
}
.form-address-city, .form-address-state{
    width:144px;
}
.form-address-table td, .form-address-table th{    
    padding-bottom:10px;
}

.form-address-table select{
    width:150px;
}

.form-button-error{
    color:red;
    display:inline;
    text-align: center;
}

.form-pagebreak>.form-button-error { 
	padding:14px 10px 10px;
	display:block;
}

.form-line-error{
    background:#FFAAAA;
    /*border:1px solid #FFAAAA;*/
    color:#333;
}

.form-line-error input:not(#coupon-input), .form-line-error textarea, .form-validation-error {
    border:1px solid red;
	-moz-box-shadow:0 0 2px red;
	-webkit-box-shadow:0 0 2px red;
	box-shadow:0 0 2px red;
}
.form-validation-error.form-input{
    border:none;
}
.form-line-active .form-error-message {
    display: none; 
}

.form-error-message{
    /*
    right:7px;
    top:6px;
    */
    
    z-index:900;
    position:absolute;
    max-width:130px;
    right:0px;
    top:0px;
    color:#333;
    padding:3px;
    font-size:10px;
    border:4px solid #dd8888;
    -webkit-box-shadow:0px 2px 4px rgba(102, 102, 102, 0.5);
    -webkit-border-radius:6px 6px;
    -moz-box-shadow:0px 2px 4px rgba(102, 102, 102, 0.5);
    -moz-border-radius:6px 6px;
	box-shadow:0px 2px 4px rgba(102, 102, 102, 0.5);
	border-radius:6px 6px;
    background:#FFCCCC;
}

.form-error-arrow{
    position:absolute;
    top:-20px;
    left:10px;
    height:0px;
    width:0px;
    border:10px solid transparent;
    border-bottom-color:#666;    
    border-bottom:10px solid rgba(102, 102, 102, 0.3);
}

.form-error-arrow-inner{
    position:absolute;
    top:1px;
    height:0px;
    width:0px;
    border:10px solid transparent;
    border-bottom-color:#FFCCCC;
    border-bottom-width:11px;
    left:-10px;
    top:-10px;
}

.form-input .form-error-message, .form-input-wide .form-error-message{
    bottom:-5px;
    font-size:11px;
    position:relative;
    z-index:900;
    right:auto;
    top:auto;
    color:#333;
    padding:3px;
    max-width:100%;
    padding-bottom:3px;
    font-size:12px;
    border:none;
    -moz-box-shadow:0px 2px 4px rgba(102, 102, 102, 0.5);
    -webkit-box-shadow:0px 2px 4px rgba(102, 102, 102, 0.5);
    -moz-border-radius:6px 6px;
    -webkit-border-radius:6px 6px;
	box-shadow:0px 2px 4px rgba(102, 102, 102, 0.5);
	border-radius:6px 6px;
    background:#FFCCCC;
}
/*
.form-input .form-error-message:before,
.form-input-wide .form-error-message:before, 
.form-multiple-column:before, .form-single-column:before,
.form-input .form-error-message:after,
.form-input-wide .form-error-message:after,
.form-multiple-column:after, .form-single-column:after {
    content: " "; display: table;
} 
.form-input .form-error-message:after,
.form-input-wide .form-error-message:after,
.form-multiple-column:after, .form-single-column:after {
    clear: both;
}
*/
.form-description{
    z-index:1000;
    position:absolute;
    right:7px;
    max-width:150px;
    top:6px;
    border:4px solid #ccc;
    -webkit-border-radius:6px 6px;
    -webkit-box-shadow:0px 2px 4px #666;
    -moz-border-radius:6px 6px;
    -moz-box-shadow:0px 2px 4px #666;
	border-radius:6px 6px;
    box-shadow:0px 2px 4px #666;
    background:#f5f5f5;
    white-space:normal;
}
    
.form-description-content{
    padding:10px;
    font-size:10px;
    color:#333;
}
    
.form-description-arrow {
    border-color:transparent #CCCCCC transparent transparent;
    border-style:solid;
    border-width:10px;
    height:0;
    width:0;
    left:-24px;
    top:7px;
    position:absolute;
}    
    
.form-description-arrow-small {
    border-color:transparent #F5F5F5 transparent transparent;
    border-style:solid;
    border-width:7px;
    height:0;
    width:0;
    left:-14px;
    top:10px;
    position:absolute;
}


.right{
    right:33px !important;
    float: none !important;
}

.form-line:hover .form-description-indicator, .form-line-active .form-description-indicator{
    display:block;
}

.form-description-indicator{
    display:none;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    background:url(../../images/s-info.png) no-repeat center;
    /*border-left:1px solid #ccc;
    background-color:#f5f5f5;*/   
}

.right .form-description-arrow {
    border-color:transparent transparent transparent #CCCCCC;
    left:auto;
    right:-24px;
}    
    
.right .form-description-arrow-small {
    border-color:transparent  transparent transparent #F5F5F5;
    left:auto;
    right:-14px;
}

.form-autocomplete-list{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:12px;
    background:#333;
    background:rgba(26,58,81,0.8);
    border:1px solid #eee;
    border-top:none;
    padding:5px 0;
    -moz-border-radius-bottomright:10px 10px;
    -moz-border-radius-bottomleft:10px 10px;
    -moz-box-shadow:0px 5px 10px rgba(0,0,0,0.6);
    -webkit-border-bottom-right-radius:10px 10px;
    -webkit-border-bottom-left-radius:10px 10px;
    -webkit-box-shadow:0px 5px 10px rgba(0,0,0,0.6);
    border-radius-bottom-right:10px 10px;
    border-radius-bottom-left:10px 10px;
    box-shadow:0px 5px 10px rgba(0,0,0,0.6);
}

.form-autocomplete-list-item{
    margin:0 5px;
    border:1px solid transparent;
    color:#fff;
    padding:3px;
    -moz-border-radius:5px 5px;
    -webkit-border-radius:5px;
	border-radius:5px 5px;
    text-shadow:1px 1px 3px #000;
    cursor:pointer;
}
.form-autocomplete-list-item-selected, .form-autocomplete-list-item:hover{
    -moz-box-shadow:0 0 4px #333;
    -webkit-box-shadow:0 0 4px #333;
	box-shadow:0 0 4px #333;
    border:1px solid #1a3a51;
    background:#4295D1;
}
.form-autocomplete-list-item:hover{
    border:1px solid #ccc;
}
.form-sub-label-container{
    display:inline-block;
    margin-right:5px;
    white-space: nowrap;
}
.form-sub-label{
    color:#999999;
    display:block;
    font-size:9px;
    
}
.form-html{
    padding:3px;
	/*Emre: to prevent HTML textbox to expand more instead of getting shorter after shrinking (50747) */
	white-space: normal;
}
.form-radio-other-input, .form.checkbox-other-input {
    margin-left:5px;
}
.form-spinner-input-td{
    white-space:normal;
}
/**
 * Hides the browser default spinner buttons in protoplus based spinner field
 */
.form-spinner-input-td input[type="number"]::-webkit-inner-spin-button,
.form-spinner-input-td input[type="number"]::-webkit-outer-spin-button {
    display:none;
}

.edit-hover{ display:none; }

/**  
 * For custom hint style, to achieve placeholder like color 
 */ 
.form-custom-hint{   
    color: #aaa !important;
    overflow: hidden !important;
}

/**
* FilePicker.io upload styling
*/
.filePicker-button{

    
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 9px 24px;
    margin-bottom: 0;
    
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    
	background: #0074CC; /* Old browsers */
	background: -moz-linear-gradient(top,  #0088cc 0%, #0055cc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0088cc), color-stop(100%,#0055cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0088cc 0%,#0055cc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0088cc 0%,#0055cc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0088cc 0%,#0055cc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0088cc 0%,#0055cc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#0055cc',GradientType=0 ); /* IE6-9 */

    
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.filePicker-button:hover {
background: #00a0f0; /* Old browsers */
background: -moz-linear-gradient(top,  #00a0f0 0%, #0064f0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a0f0), color-stop(100%,#0064f0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00a0f0 0%,#0064f0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00a0f0 0%,#0064f0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00a0f0 0%,#0064f0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #00a0f0 0%,#0064f0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0f0', endColorstr='#0064f0',GradientType=0 ); /* IE6-9 */

}

.filePicker-button:active {
background: #0064f0; /* Old browsers */
background: -moz-linear-gradient(top,  #0064f0 0%, #00a0f0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0064f0), color-stop(100%,#00a0f0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0064f0 0%,#00a0f0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0064f0 0%,#00a0f0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0064f0 0%,#00a0f0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0064f0 0%,#00a0f0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064f0', endColorstr='#00a0f0',GradientType=0 ); /* IE6-9 */

}



/**
 * Multiple file upload styling
 */
.qq-uploader { position:relative; width:224px;}

.qq-upload-button {
    /*background: none repeat scroll 0 0 #B5B5B5;*/
    background: #ffa84c; /* old browsers */
    background: -moz-linear-gradient(top, #FBCB5D 0%, #EFA003 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBCB5D), color-stop(100%,#EFA003)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBCB5D', endColorstr='#EFA003',GradientType=0 ); /* ie */
    color: #FFFFFF;
    display: block;
    font-size:16px;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 -1px #C64F00;
    border: 1px solid #C64F00;
    -moz-border-radius:5px 5px;
    -webkit-border-radius:5px 5px;
    border-radius:5px 5px;
}

.qq-upload-button-hover {
    background: #ff7b0d; /* old browsers */
    background: -moz-linear-gradient(top, #ff7b0d 0%, #ffa84c 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7b0d), color-stop(100%,#ffa84c)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b0d', endColorstr='#ffa84c',GradientType=0 ); /* ie */
   
}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-delete{
    display:none;
    top:0px;
    position:absolute;
    background: #f85032; /* old browsers */
    background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* ie */
    width:20px;
    height:20px;    
    right:0px;
    color:#fff;
    line-height:18px;
    text-align:center;
    text-shadow:0 -1px 0px #000;
    -moz-border-radius:0px 5px 5px 0px;
    -webkit-border-radius:0px 5px 5px 0px;
    border-radius:0px 5px 5px 0px;
    border-left:1px solid #aaa;
    cursor:pointer;
}
.qq-upload-delete:hover{
    background: #ffb76b; /* old browsers */
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(50%,#ffa73d), color-stop(51%,#ff7c00), color-stop(100%,#ff7f04)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* ie */
}
.qq-upload-list li:hover{
    border:1px solid #aaa;
}
.qq-upload-list li:hover .qq-upload-delete{
    display:block;
}


.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 54px; z-index:2;
    background:#F5F5F5;
    background:rgba(240, 240, 240, 0.9);
    text-align:center; 
    color:#B1B1B1;
    border:2px dashed #c5c5c5;
    -moz-border-radius:5px 5px;
    -webkit-border-radius:5px 5px;
    border-radius:5px 5px;
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-10px; font-size:16px;
}
.qq-upload-drop-area-active {
    background:lightyellow;
    background:rgba(222, 255, 210, 0.9);
}
.qq-upload-list { margin:10px 0; padding:0; list-style:none; }
.qq-upload-list li {
    position:relative;
    font-size: 11px;
    margin: 8px 0;
    color: #5E5B5B;
    padding: 2px 4px;
    background: #EEEEEE;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    border-radius: 5px 5px;
    white-space: normal;
    border:1px solid transparent;
}
.qq-upload-file,.qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    font-size:9px;
    line-height:16px;
}

.qq-file-uploading{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 80px;
}

.qq-upload-failed-text{float:right;}
.qq-upload-fail{
    background:#FF927D !important;
    color:#fff !important;
}
.qq-upload-fail .qq-upload-size{display:none !important;}
.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../../images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;margin-bottom: 3px;margin-left: 2px;}
.qq-upload-size,.qq-upload-cancel {float:right;margin-left: 4px;}
.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}


/**
 *  FB Login button styles and alignments
 */
.fb-login-wrapper{
    
}
.fb-align-auto, .fb-align-center{
    
}
.fb-align-left{
    
}
.fb-align-right{
    
}
.fb-login-label{
    color: #888888;
    font-size: 11px;
    line-height: 23px;
}
.fb-login-button{
    
}

/**
 *  FB Login End
 */

 
 /* paypal pro */
.paypalpro_img {
    width: 40px; 
    height: 26px;
    padding-right: 7px;
}
.paypalpro_visa { background: url('../../images/credit-card-logo.png') no-repeat 0 0; }

.paypalpro_mc { background: url('../../images/credit-card-logo.png') no-repeat -47px 0; }

.paypalpro_amex { background: url('../../images/credit-card-logo.png') no-repeat -94px 0; }

.paypalpro_dc { background: url('../../images/credit-card-logo.png') no-repeat -141px 0; }

/**
 * reCaptcha styling
 */
#recaptcha_logo{ display:none;}
#recaptcha_tagline{display:none;}
#recaptcha_table{border:none !important;}
.recaptchatable .recaptcha_image_cell, #recaptcha_table{ background-color:transparent !important; }
#recaptcha_table td { padding-left:0px !important; }

.always-hidden {
    display:none !important;
}

.dropdown-match-height {
    min-height: 24px;
}

/*
 * TODO: This a fix for column view in IE6 and IE7
 * only in single column. After relaxing we have
 * to change the HTML code directly to fix column
 * problems in IE6 and IE7.
 */
.form-single-column .clearfix { display: inline-block; }
.form-single-column .clearfix { display: block; }
/*
 * New Feature for fixes for mobile devices. 
 * We should improve this for each and every kind of question.
 * then test it on various mobile devices 
 */
@media only screen and (max-device-width: 550px){
    body{
        /* background:#EAEAEA url(/images/bg.png) repeat-x 0 -55px !important; */
        font-size: 18px;
    }
    .form-all{
        width:auto !important;
    }
    .form-label-left{
        float:none;
        display:block;
    }
    .form-buttons-wrapper{
        margin:5px !important;
        text-align:center;
    }
    .form-submit-print{
        display:none;
    }
    .form-textarea{
    	/* Emre: to prevent the textareas to overflow when iPhone is used (47600) */
        width:94% !important;
    }
    .form-textbox, .form-textarea, .form-dropdown, .form-list{
        border:1px solid #555;
        padding:4px;
        -webkit-border-radius:5px 5px;
        -webkit-box-shadow:0 2px 4px rgba(0,0,0, 0.4) inset;
        -moz-border-radius:5px 5px;
        -moz-box-shadow:0 2px 4px rgba(0,0,0, 0.4) inset;
        border-radius:5px 5px;
        box-shadow:0 2px 4px rgba(0,0,0, 0.4) inset;
    }
    .form-address-table{
        width:300px;
    }
    .form-address-line{
        width:280px;
    }
    .form-address-city, .form-address-state{
        width:130px;
    }
    .form-address-table td, .form-address-table th{    
        padding-bottom:10px;
    }
    .form-address-table select{
        width:120px;
    }
    .form-spinner{
        border-collapse:inherit !important;
        border:1px solid #555 !important;
        -webkit-border-radius:5px 5px;
        -webkit-box-shadow:0 2px 4px rgba(0,0,0, 0.4) inset;
        -moz-border-radius:5px 5px;
        -moz-box-shadow:0 2px 4px rgba(0,0,0, 0.4) inset;
        border-radius:5px 5px;
        box-shadow:0 2px 4px rgba(0,0,0, 0.4) inset;
    }
    .form-spinner-up, .form-spinner-down{
        padding:0 8px !important;
        border:none !important;
        border-left:1px solid #555 !important;
    }
    .form-spinner-up{
        -moz-border-radius-topright:5px 5px;
        -webkit-border-top-right-radius:5px 5px;
        border-top-right-radius:5px 5px;
        border-bottom:1px solid #555 !important;
    }
    .form-spinner-down{
        -moz-border-radius-bottomright:5px 5px;
        -webkit-border-bottom-right-radius:5px 5px;
        border-bottom-right-radius:5px 5px;
    }
    .form-spinner-input-td{
        padding-right:6px !important;
    }
    .form-spinner-input-td input{
        padding:4px !important;
        background:none;
    }
    .form-sub-label-container img[id*="pick"]{
        width:25px;
    }
    div.form-header-group{
        margin:0px !important;
    }
    div.form-pagebreak .form-label-left{
        display:inline-block !important;
        float:left;
    }
    .form-submit-button, .form-submit-reset{
        font-size:18px;
        line-height:30px;
    }
    .form-captcha{
        border:1px solid #555;
    }
    .form-captcha input{
        width:120px !important;
    }
}

.clearfix2:before,.clearfix2:after{content:" ";display:table;}
.clearfix2:after{clear:both;}

/*
    Fix for spinner on firefox 29 and chrome browsers
    credits for http://stackoverflow.com/questions/23372903/hide-spinner-in-input-number-firefox-29/23374725#23374725
*/
/* hides the spin-button for firefox */
input[type=number] {
    -moz-appearance:textfield;
}
/* hides the spin-button for chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}