.filaSmall {
    color: #003399;
	font-family: Tahoma, Arial;
	background-color:#D1DCEB;
	font-size: 9px;
	font-weight: bold;
	border-top-color:#CC0000;	
}

.TablePrintDecoration
{
	font-size: 10px;
	font-family: Tahoma;
	color: black;
}

.TableNoteDecoration
{
	font-size: 8px;
	font-family: Tahoma;
	color: black;
}
