.overlay_im {
	background-color: #85BBEF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.im_nw {
	background: transparent url(im/left-top.gif) no-repeat 0 0;
  width:10px;
  height:25px;
}

.im_n {
  background: transparent url(im/top-middle.gif) repeat-x 0 0;
  height:25px;
}

.im_ne {
  background: transparent url(im/right-top.gif) no-repeat 0 0;
  width:10px;
  height:25px;
}

.im_w {
  background: transparent url(im/frame-left.gif) repeat-y top left;
  width:7px;
}

.im_e {
  background: transparent url(im/frame-right.gif) repeat-y top right;
  width:7px;
}

.im_sw {
  background: transparent url(im/bottom-left-c.gif) no-repeat 0 0;
  width:7px;
  height:7px;
}

.im_s {
  background: transparent url(im/bottom-middle.gif) repeat-x 0 0;
  height:7px;
}

.im_se, .im_sizer  {
  background: transparent url(im/bottom-right-c.gif) no-repeat 0 0;
  width:7px;
  height:7px;
}

.im_sizer {
	cursor:se-resize;
}

.im_close {
	width: 23px;
	height: 23px;
	background: transparent url(im/button-close-focus.gif) no-repeat 0 0;
	position:absolute;
	top:0px;
	right:11px;
	cursor:pointer;
	z-index:1000;
}

.im_minimize {
	width: 23px;
	height: 23px;
	background: transparent url(im/button-min-focus.gif) no-repeat 0 0;
	position:absolute;
	top:0px;
	right:55px;
	cursor:pointer;
	z-index:1000;
}

.im_maximize {
	width: 23px;
	height: 23px;
	background: transparent url(im/button-max-focus.gif) no-repeat 0 0;
	position:absolute;
	top:0px;
	right:33px;
	cursor:pointer;
	z-index:1000;
}

.im_title {
	float:left;
	height:14px;
	font-size:14px;
	text-align:center;
	margin-top:2px;
	width:100%;
	color:#123456;
}

.im_content {
	overflow:auto;
	color: #336600;/*letra*/
	font-family: Tahoma, Arial, sans-serif;
  font: 12px arial;
	background:#FFFFB0;/*fondoFFFFD7*/
}

/* For alert/confirm dialog */
.im_window {
	border:1px solid #F00;
	background: #FFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.im_message {
  font: 16px arial;/*letra*/
	text-align:center;
	width:100%;
	padding-bottom:10px;
}

.im_buttons {
	text-align:center;
	width:100%;
}

.im_buttons input {
	width:20%;
	margin:10px;
}

.im_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	background: #FFF url('alert/progress.gif') no-repeat center center
}

.im_wired_frame {
	background: #FFF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}


