/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/11/2016, 09:57:57 AM
    Author     : mcastillo
*/

#busqueda{
    //margin-left: 20px;    
    background-color: rgb(42, 136, 200);
    position: absolute;
    width: 100%;
    height: 89px;
}

#divInterno{
    
margin-top: 2px;
background-color: #FFF;
margin-left: 0px;
height: 65px;
padding: 10px;
position: relative;
}

select{    
    width: 130px;
    color: #050505;
    height: 22px;
    margin-left: 5px;
}

label{
    color: #050605;
    font-family: Tahoma,Verdana,Arial;
    font-size: 14px;
    margin-left: 10px;
  
   // position: absolute;
}

#busqueda_avanzada{
    display: none;     
}

.radio-toolbar input[type="radio"] {
    display:none;      
}

.radio-toolbar label {
    display: inline-block;
    background-color: #DDD;
    padding: 3px 10px;
    font-family: Arial;
    font-size: 14px;
    border-radius: 5px;
}

.radio-toolbar input[type="radio"]:checked + label { 
    background-color:#F8A71A ;
}

.ventana{
    display:none;    
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
    font-size:12px;
    text-align:justify;

}