.Letras {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #000000;
}
.Letras2 {
    font-family:"Courier New", Courier, mono;
	font-size: 12px;
	font-style: normal;
	color: #000000;
}

.msg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: bold;
	color: #000000;
}

.titulos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #FFFFFF;
	font-weight: bold;
}
.textboxs {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	list-style-position: inside;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.boton {
	border: 1px solid #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #003300;
	

}
body {
	background-color: #ebebeb;
}
.error{
background-color:#FF0000;
}
