/* 
    Created on : 23/08/2018, 04:05:58 PM
    Author     : jbermudez
*/
.wrappers {    
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
}

#buttons-wrapper {
    width: 400px;
}

/* opciones del filtro de la web configuracion polizas */
#options-wrapper {
    width: auto;
    max-width: 1000px;
}

#options-wrapper div {
    margin-top: 10px;
}

#tables-wrapper {
    width: 980px;
    margin: 50px auto 0 auto;
}

/* tabla de la web configuracion polizas */
#table-wrapper { 
    width: 1650px;
    margin: 50px auto 0 auto;
}

.table-wrapper div:first-child {
    margin: 0 auto;
}

.tabla-interna-wrapper table {
    width: 100%;
}

table select, table input {
    width: 100%;
}

input[type="radio"] {
    width: auto;
}

#fila-valor-absoluto {
    display: none;
}

#valor_porcentaje_valor_poliza, #retorno_aseguradora {
    width: 80%;
}

.auto-width {
    width: auto;
}

.no-margin {
    margin: 0;
}