
        @import url("grid/nitobi.reset.css");
    
        @import url("grid/tiny/nitobi.grid.css");
    
        @import url("grid/lightblue/nitobi.grid.css");
    
        @import url("grid/nitobi/nitobi.grid.css");
    
        @import url("grid/flex/nitobi.grid.css");
    
        @import url("grid/vista/nitobi.grid.css");
    
        @import url("grid/xp/nitobi.grid.css");
    
        @import url("grid/tiger/nitobi.grid.css");
    
        @import url("grid/nitobi/toolbar/default/toolbar.css");
    
        @import url("grid/base/calendar.css");
    
        @import url("grid/nitobi/effects/effects.css");
    .nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}