/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/04/2016, 12:16:39 PM
    Author     : William A. Siado   
*/

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.3em 1.3em 1.3em !important;
    margin: 0 0 1.4em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}



.checkbox, .radio {
    margin-top: 0;
    
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-top: 3px;
}

.form-control {
    height: 26px;
    padding: 5px 12px;
}

.fx-center{
  display: flex;
  justify-content: center;
};

.fx-distribuir-between{
    display: flex;
    justify-content: space-between;
};

.fx-distribuir-around{
    display: flex;
    justify-content: space-around;
};

.div_tabla_bodegas.container-fluid{
    overflow: hidden;
}