/* 
    Created on : 10/08/2018, 09:45:34 AM
    Author     : jbermudez
*/
html {
    font-size: 16px;
    font-family: Tahoma, Arial;
}

#formulario {
    width: 100%;
    margin-top: 20px; 
    height: 500px;
    display: block;
    position: relative;
}

.section-wrapper {
    box-sizing: border-box;
    width: 32%;
    height: auto;
    padding: 5px;
}

.formulario {
    padding: 0 10px;
    text-align: center;
}

#form-simulador {
    float: left;
    margin-left: 15%;
}

#form-solicitante {
    float: right;
    margin-right: 15%;
}

.header {
    font-size: 1.2em;
}

.form-elementos {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    position: relative;
}

select {
    color: white;
}

input, select {
    width: 60%;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#vcuota {
    font-weight: bold; 
    color: #397EAD;
}

.form-elementos label {
    position: absolute;
    left: 0px;
}

.form-elementos input:last-child, .form-elementos select:last-child {
    position: absolute;
    right: 0px;
}

#cuota-wrapper {
    display: none;
}

.ventana {
    display: none;
}

.ventana table{
    border-collapse: collapse;
    display: none;
}

.ventana table td:nth-child(-n+5), .ventana table th:nth-child(-n+5) {
    border-bottom: 1px solid black;    
    padding: 10px;
}

.ventana table td:nth-child(n+2):nth-child(-n+5) {
    border-left: 1px solid black;
}

.red-text {
    color: red;
}