.titulo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8px;
    color:#000000;
}
.detalle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
    color:#000000;
}
.texto_sinBorde{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
    color:#000000;
	background-color:#FFFFFF;
	border-style:none;	
}
.textosimple {
    font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: 10px;
    color:#003399;
}

.textoresaltado {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
    color:#003399;
}

.tabla_liq {
   background-color:#D1DCEB;	
}

.filaTotal {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size: 11px; 
	color: #FFFFFF; 
	background-color:#003399;
}

.parcial{
   color: #003399;
   font-family: Verdana, Tahoma, Arial;
   font-size: 11px;
   font-weight: bold; 
   background-color:#FBF2C4; 
}

.descuento{
   color: #003399;
   font-family: Verdana, Tahoma, Arial;
   font-size: 11px;
   background-color:#EF9C9C; 
   font-weight: bold; 
}
