/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/09/2015, 12:01:40 PM
    Author     : mcastillo
*/
input{

    font-family: helvetica, sans-serif;
    font-size: 12px !important;   
    letter-spacing: 0.1px;

}

h4  {
   text-align:left
}

.editor {
  width: 100% !important;
}

textarea {
     color: #003399; 
}

.nicEdit-main{
   font-size: 11pt;
   font-family: times, helvetica, sans-serif;
   text-align: justify;   
   line-height: 120%;
}

.tablas{
  	padding: 0;
	margin: 0;
	border-collapse:collapse;
}

.tablas th{
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border-right: 1px solid #C1D0DA;
	border-left: 1px solid #C1D0DA;
	border-bottom: 1px solid #C1D0DA;
	border-top: 1px solid #C1D0DA;
	letter-spacing: 1px;
	//text-transform: uppercase;
	text-align: center;
	padding: 3px 3px 3px 3px;
	background: #2A88C8;
}

.tablas td{
 	border-right: 1px solid #CEF2F6;
	border-left: 1px solid #CEF2F6;
	border-bottom: 1px solid #CEF2F6;
	border-top: 1px solid #CEF2F6;
	padding: 3px 3px 3px 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
        background-color:#FDFEFF; 
}

.tablas tr:hover td {
    background-color: rgba(222, 248, 255, 0.73) !important;
}

#equiv_variables {
    padding:5px; /*Espaciado interno*/
    width:280px; /*Ancho del contenedor*/
    height:350px; /*Alto del contenedor*/
    text-align:center; /*Alineación del texto*/
    background-color:#FFFFFF; /*Color de fondo*/
    position:absolute; /*Permite que se mantenga estático*/
    display:none; /*Oculta el contenedor*/
    left:80%; /*Separación del borde izquierdo*/
    bottom:80px; /*Separación inferior del borde*/
    top: 0px;  /*Separación superior del borde*/
    box-shadow:0 0 5px #555; /*Sombras CSS3*/
    overflow-y: scroll;
}

.titulo_ventana {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #2A88C8; //#4297d7; 
	background: #2A88C8; //#006C3A; 
	color: #ffffff; 
	font-weight: bold;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; 
	padding: .5em 1em .3em; 
	position: relative;
	cursor: move; 	
}

/*p.western {
   font-size: 11pt;
   font-family: times, helvetica, sans-serif;
   text-align: justify;   
   line-height: 100%;
}*/
