/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/03/2016, 08:44:17 AM
    Author     : user
*/

.form_recibo_Caja, .header_rc {
    background-color: #2A88C8;
    padding: 7px;
    border-radius: 7px;
}
.form_recibo_caja {
    margin-top: 10px;
    color: #000;
    padding: 1px;
    width: 730px !important;
    height: auto;
    position: relative;
    top: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: #FFF;
    -moz-box-sizing: border-box;
    border-radius: 7px;
}

.titulo{
    font-size: 16px;
    color: #F7F5F7;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.1px;
    line-height: 21px;
    margin-left: 5px
}

.tabla{
    width: 718px;
    margin-top: 0%;
}

label {
  padding-left: 10px;
  width:100px;
  display: inline-block;
}

select {   
    background-position: 280px center;
    background-repeat: no-repeat;
    padding: 5px;
    font-size: 14px;
    color: #000 !important;  
    font-family: helvetica, sans-serif;
    font-weight: normal !important;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    width: 180px;
}
/*select:hover{
    background-color: #2A88C8;
}*/



button:hover{
    background: url("images/ui-bg_highlight-soft_50_4eb305_1x100.png") repeat-x scroll 50% 50% #4EB305;
    border: 1px solid #008000;
    color: #FFFFFF;
    font-weight: normal;

}


input {  
    font-family: helvetica, sans-serif  !important;
    font-size: 15px  !important;
    color: #000  !important;
    letter-spacing: 0.1px  !important;
    height: 20px  !important;
    text-align: left  !important;  
    text-transform: uppercase !important;

}


.td { 
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
/*  color:   rgba(10, 50, 10, 1);*/
    line-height: 1.3 ;
}

.ventana{
    display:none;    
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
    font-size:12px;
    text-align:justify;

}

.titulo_ventana {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #2A88C8;
    background: #2A88C8;
    color: #ffffff; 
    font-weight: bold;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; 
    padding: .5em 1em .3em; 
    position: relative;
    cursor: move; 	
}           

.frm_search{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:justify;
    position:relative; 
    border-radius: 8px;
    border:1px solid #2A88C8;
    background-color:  #ffffff;
    padding: 10px 20px 10px 20px;  
    width:310px;
    top:20px;
    
}
