.k-block, .k-header {
    background-color: #2A88C8 ;
    padding: 7px;
    border-radius: 7px;
}

.k-block {
    color: rgba(10, 50, 10, 1);
    padding: 1px;
    width: 582px;
    height: 100px;
    position: relative;
    top: 30px;
    border-style: solid;
    border-width: 1px;
    background-color:white;
    -moz-box-sizing: border-box;
    border-radius: 7px;
}


.titulo{
    font-size: 16px;
    color: #F7F5F7;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.1px;
    line-height: 21px;
    margin-left: 5px
}

.table{
    margin-top: 2%;
    font-size: 12px;
    font-weight: bold;
    margin-left: 3%;

}

.td { 
    padding: 8px;
}

.btn{
    height: 15px;

}

input{

    font-family: helvetica, sans-serif;
    font-size: 15px;
    color: #040;
    letter-spacing: 0.1px;

}



.ventana{
    display:none;    
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
    font-size:12px;
    text-align:justify;

}

.ventana1{
    position: relative
}

select{
   // background:#7c7 ;
    background-position: 280px center;
    background-repeat: no-repeat;
    padding: 5px;
    font-size: 14px !important;
    color:#039 !important;
    font-weight: bold;
    font-family: helvetica, sans-serif;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    width: 150px;
}
select:hover{
    background-color: #bfcaba;
}

.grid{
    position: absolute;
    width: 100%;
    top: 155px;
    height:auto;

}

.simuldor{

    display:none; 
}


.td { 
    padding: 5px;
    width: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color:   rgba(10, 50, 10, 1);
    line-height: 1.3 ;
}

#cuota{
    width: 55px;
    height: 23px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}

#valor_negocio{
    width: 120px;
    height: 23px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;

}

.form, .header {
    background-color: #070;
    padding: 7px;
    border-radius: 7px;
}

.form {
    color: #0A320A;
    padding: 1px;
    width: auto;
    height: 184px;
    position: relative;
    top: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(227, 224, 224, 0.02);
    -moz-box-sizing: border-box;
    border-radius: 7px;
}
.form_cy, .header_cy {
    background-color: #070;
    padding: 7px;
    border-radius: 7px;
}
.form_cy {
    margin-top: 10px;
    color: #0A320A;
    padding: 1px;
    width: auto;
    height: 180px;
    position: relative;
    top: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(227, 224, 224, 0.02);
    -moz-box-sizing: border-box;
    border-radius: 7px;
}



.form_ng, .header_ng {
    background-color: #070;
    padding: 7px;
    border-radius: 7px;
}

.form_ng {
    margin-top: 10px;
    color: #0A320A;
    padding: 1px;
    width: auto;
    height: 120px;
    position: relative;
    top: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(227, 224, 224, 0.02);
    -moz-box-sizing: border-box;
    border-radius: 7px;
}

.input-form{

    height: 23px;
    text-align: left;
    font-weight: bold;

}

.tabla{

    width: auto;


}

.no-close .ui-dialog-titlebar-close {
    display: none 
}

.form_ob, .header_ob {
    background-color: #070;
    padding: 7px;
    border-radius: 7px;
}

.form_ob {
    margin-top: 10px;
    color: #0A320A;
    padding: 1px;
    width: auto;
    height: 180px;
    position: relative;
    top: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(227, 224, 224, 0.02);
    -moz-box-sizing: border-box;
    border-radius: 7px;
}

.textarea {
    width: 919px; 
    height: 105px;
    font-size: 16px;
    font-weight: bold;
}
.tablaLiquidador{

    height: 90px; width: 600px; 
}

.tablaTraza{

    height: 90px; width: 560px; 
    text-align: center;   
    border:1px solid #040;
    border-collapse:collapse;

}

.th{  
    font-size: 15px;
    font-weight: bold;    
}

.textarea2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px !important ;
    position: inherit;
    margin-top: 10px;


}

.more{
    cursor:pointer;
    background-color: #ccf;
}

.complete {
    display:none;
}

/*button:hover{
    background: url("images/ui-bg_highlight-soft_50_4eb305_1x100.png") repeat-x scroll 50% 50% #4EB305;
    border: 1px solid #008000;
    color: #FFFFFF;
    font-weight: normal;

}*/

#inptBuscar{
    height: 38px;
    width: 156px;
    -moz-box-flex: 1;
    padding: 1px 8px;
    background: none repeat scroll 0% 0% padding-box rgba(255, 255, 255, 0.9);
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: rgba(23, 51, 78, 0.15) rgba(23, 51, 78, 0.17) rgba(23, 51, 78, 0.2);
    box-shadow: 0px 1px 0px rgba(8, 22, 37, 0.02) inset, 0px 0px 2px rgba(8, 22, 37, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.2);
    border-radius: 2.5px 0px 0px 2.5px;
    color: inherit;
    font-family: sans-serif;
    font-size:medium;

}

#buscar{
    height: 38px;    
}
#limpiar{
    height: 38px;    
}

#divBuscar{ 
    background: none repeat scroll 0% 0% rgba(54, 102, 63, 0.1); 
    position: absolute;
    top: 20px;
    width: 114%;
}
#divBuscar1{
    padding-top:5px;
    padding-bottom: 0px;
    margin:0 0 0 2%;
}

#divListaNegocios{
     margin:0 0 0 2%;
     width: auto;
     height: 900px;
     display:none; 
     float:  left;
     position: absolute;
     margin: 1px 0px 0px 35px;
}
#calLiquidacion{
     position: relative;         
     margin:  12px 177px 0px 10px;
     float:  right;
}
#divSaldos{
    display:none;
    position: absolute;
    left: 1194px;
    float:  left;
    border-left:rgba(54, 102, 63, 0.1);
    border-left-style: solid;
    border-width:3px;
    margin-left: 2%;
    margin-right:2%;
    height: 1094px;  
}

#divSaldoNegocio{
    
    margin-left: 2%;
    overflow:  auto;
    width: 1281px;
    height:1085px; 
}

h3{
color: rgba(12, 12, 12, 0.84);
background-color: rgba(152, 199, 230, 0.6);
padding: 5px;
margin: -1px 0px 13px 2px;
}

.divOcultar{
    
text-align: left;
width: 100px;
margin-left: 2%;
margin-bottom: 0.8%;
margin-top: 0%;
display: none;
}

#divResumenSaldos{
    margin-top: 8%;
    height: 700px;
}

.tablaSaldos{    
    width: 1128px;
    font-size: 12px;
    text-align: right;
    border: 1px solid rgba(21, 83, 20, 0.36);
}
.tablaSaldosInicial{    
    width: 700px;
    font-size: 12px;
    text-align: right;
    border: 1px solid rgba(21, 83, 20, 0.36);
    float: left;
}
#tablaConsolidados{
    
    width: 789px;
    font-size: 15px;
    font-weight :bold;    
    
}

.resultadoSaldo{
    font-size: 14px; 
    color:#2f2020 ;
    text-align: center;
    background: transparent;
    border: none;
    font-weight: bold;
    width: 95px;
    
}
.descuento{    
    font-size: 13px; 
    color:rgba(245, 25, 17, 0.68)!important; 
    text-align: center;
    background: none repeat scroll 0% 0% rgba(236, 243, 234, 0.73);
    border: none;
    font-weight: bold;
    width: 95px;
    
}

#simuladoCuotas{
     position: relative;         
     margin:  0 0 0px 10px;
     float:  right;
}



th {
   font-size: 14px;
   font-weight :bold;
   padding: 3px;
   
}
#listNegocios{
   margin-left:  82px;  
}
.miTd td{    
    background: url("images/ui-bg_inset-soft_10_ffffff_1x100.png") repeat-x scroll 50% bottom #FFF;
    color: #0F0101;
    padding: 3px;
    padding-right: 5px;
  
}

.miTd2 td{    
    background: url("images/ui-bg_inset-soft_10_ffffff_1x100.png") repeat-x scroll 50% bottom #FFF;
    color: #0F0101;
    padding: 3px;
    border-bottom: 1px solid #2FA7D7;
    padding: 3px;
    padding-right: 5px;
}

.miTd3 td{    
    background: url("images/ui-bg_inset-soft_10_ffffff_1x100.png") repeat-x scroll 50% bottom #FFF;
    color: #0F0101;
    padding: 3px;
    border-bottom: 1px solid #2FA7D7;
    padding: 3px;
    padding-right: 5px;
}

.miTdtotal td{
    background: url("images/ui-bg_inset-soft_10_ffffff_1x100.png") repeat-x scroll 50% bottom #FFF;
    color: #0F0101;
    padding: 3px;
    border-top: medium solid #EA2B14;
    height: 20px;
    font-size: small;
    
}

.inputTable{
    font-size: 12px; 
    color:#2f2020 ;
    text-align: right;
    background: transparent;
    border: none;
    font-weight: normal;
    width: 100px;    
}

th{
    text-align: center; 
}

#unidad_negocio{
    width: 178px !important; 
    height: 42px !important; 
    color: rgba(99, 100, 108, 0.96) !important;
}

.divValorTotal{
    
background-color: #FFF;
width: 235px;
height: 120px;
border: none;
float: left;
margin-left: 20px;
margin-top: 33px;
border-radius: 8px; 
}

.simulador{
    text-align: center;
    margin-top: 13px;
    font-weight: bold;
    font-family: Verdana;
    font-size: 20px;
}

.negociosap{
    margin-left: 20px;
    margin-top: 33px;
    float: left;
}

.ventanaIzq{
    display:none;
    position: absolute;
    left: 936px;
    float:  left;
    border-left:rgba(54, 102, 63, 0.1);
    border-left-style: solid;
    border-width:3px;
    margin-left: 2%;
    margin-right:2%;
    margin-top: 33px;
    height: 900px;  
}

.izquierda{
   margin-left: 2%;
}

.valorTotal{
    background-color: #FFF;
    width: 100%;
    height: 120px;
    border: none;
    float: left;
    margin-left: 2%;
    margin-right:2%;
    margin-top: 2%;
    border-radius: 8px; 

}

#aprobar{
     position: relative;         
     margin:  -30px 180px 0px 5px;
     float:  right;
}
#rechazar{
     position: relative;         
     margin:  -30px 86px 0px 5px;
     float:  right;
}

#imprimir{
     position: relative;         
     margin:  -30px 0 0px 5px;
     float:  right;
}

.simulador2{
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
    font-family: Verdana;
    font-size: 36px;
}

#div_simulador_microcredito{
    position: relative;    
    width: 985px;
    background-color: #FFF;                    
    border-radius: 4px;
    padding: 10px  0px  10px  0px;
    border: 1px solid #2A88C8;    
}