/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/01/2016, 06:44:03 PM
    Author     : mcastillo
*/

#encabezadotablita{
    height: 26px;
    border: 1px solid #2A88C8 !important;
    border-radius: 4px;
    margin-top: 2px;
    font-family: sans-serif;
    font-style: normal;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 15px;
    border-radius: 4px;
    text-align: center;
    background:#2A88C8 !important;

}

label.titulotablita{
    color:#ffffff;
    padding: 10px;
    line-height: 25px
}

#div_asignar_proceso_usuario {
    position: relative;    
    width: 800px;
    height:500px;
    background-color: #FFF;
    border-radius: 4px;
    padding: 0px  0px  10px  0px;
    border: 1px solid #2A88C8; 
}

#div_asignar_tipo_requisicion {
    position: relative;    
    width: 800px;
    height:500px;
    background-color: #FFF;
    border-radius: 4px;
    padding: 0px  0px  10px  0px;
    border: 1px solid #2A88C8; 
}