/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/04/2016, 09:22:13 PM
    Author     : user
*/
#div_search_scoring{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:justify;
    position:relative; 
    border-radius: 8px;
    border:1px solid #2A88C8;
    background-color:  #ffffff;
    padding: 10px;  
    width: 440px;
    
}

input{
    text-align: center;
}

.tablas{
  	padding: 0;
	margin: 0;
	border-collapse:collapse;
}

.tablas th{
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border-right: 1px solid #C1D0DA;
	border-left: 1px solid #C1D0DA;
	border-bottom: 1px solid #C1D0DA;
	border-top: 1px solid #C1D0DA;
	letter-spacing: 1px;
	//text-transform: uppercase;
	text-align: center;
	padding: 3px 3px 3px 3px;
	background: #2A88C8;
}

.tablas td{
 	border-right: 1px solid #CEF2F6;
	border-left: 1px solid #CEF2F6;
	border-bottom: 1px solid #CEF2F6;
	border-top: 1px solid #CEF2F6;
	padding: 3px 3px 3px 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
        background-color:#FDFEFF; 
}

.tablas tr:hover td {
    background-color: rgba(222, 248, 255, 0.73) !important;
}
.ui-dialog {
    height:auto !important;
}

h4{
    color:#ffffff;
    background-color: #2A88C8;
    padding: 5px;
    margin: -1px 0px 5px 2px;
    font-weight: bold;

}

.odd {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
 }
 
.even {
    background: #F5FAFA;
    color: #797268;
 }
 
 .resaltar_valor {
    font-weight:bold;
    font-size: 15px;
    color: #009933;
 }