/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background:  #FFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 33px;
    font-size: 14px;
    font-family: arial;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
    background-color: rgba(84, 164, 243, 0.32);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 24px;
    line-height: 60px;
    background-color:  #6EB2EF;
}

.sidebar-nav > .sidebar-brand a {
    color: #000;
    font-weight: bold;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.center-element{
    margin: 0 auto;
}

.ancho-maximo {
    width: 800px;
}

.panel-info > .panel-heading {
    background-color: #4297d7;
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.panel-info > .panel-heading h3{
    font-size: 24px;
}

.hide-items{
    display: none;    
}
.otro{
    margin-left: 15px;
}



/*@media(min-width:960px) {
    .ancho-maximo{
        width: 800px;
    }    
}

@media(min-width:768px) {
    .ancho-maximo{
        width: 680px;
    }    
}   */


@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 240px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}