.title{
  size=3;
  font-color:'white'; 
  font-family:'Trebuchet MS', 'Arial', 'Sans-serif';
}

.subtitulo
{  
  bgColor:#99ccFF;
  background:#99ccFF; 
  color:black;
  font-family: Arial;
  font-weight: bold;
  font-size: 11px;  
}

.style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0066CC;
}

.comentario{
     color:"000000"; 
     font-family:  Verdana,Arial, Helvetica, sans-serif;
     font-size: 11px; 
}

.comentario2{
     color:"000000"; 
     font-family: Verdana,Arial, Helvetica, sans-serif;
     font-size: 12px; 
     font-weight: bold;
}

.titulo
{
  background:#ffa928;
  color:black;
  font-size:16px;
  font-family: Verdana;
  font-weight: bold;
}

.titulo1
{
  background:#ffa928;
  color:black;
  font-size:14px;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
}

.fondotabla{
   color:"000000"; 
   font-family:  Verdana,Arial, Helvetica, sans-serif;
   font-size: 10px;
   background:"#ECE9D8"
}

.novalido{
   color:"000000"; 
   font-family:  Verdana,Arial, Helvetica, sans-serif;
   font-size: 10px;
   background:"red"
}

.titulo3
{  
  background:#0099FF;
  color:black;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;  
}

a:link , a:active ,  a:visited
{
    color: blue;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none
    font-weight: bold; 
}
a:hover
{
    font-family: Arial;
    color: red;
    text-decoration: none;
    font-size: 12px
    font-weight: bold;
}
.tabla{
		background-color:#ece0d8;
		FONT-SIZE: 8pt;
	}
	
	.titulo2{
		FONT-SIZE: 9pt;
		FONT-WEIGHT: bold;
		background-color:#99ccff;
	}
	.input
	{
	  font-family: Arial;
	  font-size: 10px;
	  width: 100%;
	}

	.select
	{
	  font-family: Arial;
	  font-size: 10px;
	}
	.boton
	{
	   font-size: 12px;
	   font-weight: bold;
	   color: #FeF;
	   background-color: #036;
	   border-color: #69F;
	}

body {
	background-color: #ebebeb;
}

.fondotabla2{
   background:"#ECE9D8";
   color:"000000"; 
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px; 
}

.fondoverde{
   background:"#99cc99";
   color:"000000"; 
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px; 
}

.fondogris{
   background:"#cdcdcd";
   color:"000000"; 
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px; 
}

.normal{
     color:"000000";
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 11px;
}

.negrita{
     color:"000000"; 
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 11px; 
     font-weight: bold;
}

.letrica {
	font-family: "Trebuchet MS", Arial, Sans-serif;
	font-size: 9px;
	color: #333333;/*themecolour3%0;*/
	background-color: #ffffff;/*themecolour3;*/
}

.pequeña {
	font-family: "Trebuchet MS", Arial, Sans-serif;
	font-size: 9px;
	color: #333333;/*themecolour3%0;*/
}

.size10 {
	font-family: "Trebuchet MS", Arial, Sans-serif;
	font-size: 10px;
	color: #333333;/*themecolour3%0;*/
}

.link {
	font-family: "Trebuchet MS", Arial, Sans-serif;
	font-size: 10px;
	color: blue;/*themecolour3%0;*/
}

mayuscula{
    text-transform: uppercase;
}

.negritapequeña{
     color:"000000";
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 9px;
     font-weight: bold;
}

tr.select   { background-color: teal;  color:white; font-size:10px; font-family:Verdana}
tr.unselect { background-color: white; color:black; font-size:10px; font-family:Verdana}

tr.par {background-color: #FFFFFF}
tr.impar {background-color: #CEEDFF}
tr.mouse_over{background-color: #FFC07D}
tr.oldSelection{background-color: #D0D7C7}
tr.currentSelection{background-color: #59BDFF}
