.fondo
{
  background:#ECE9D8;
  font-family: Arial;  
}

.fondo_herramienta
{
  background:#cccccc;
  font-family: Arial;  
}

.fondo2
{
  background:#ECE9D8;
  font-family: Arial; 
  font-size: 12px;  
}

.titulo_herramienta
{
  font-family: Arial; 
  font-size: 10px;
  font-weight: bold;
  background:#999999;
}

.titulo_herramienta2
{
  font-family: Arial; 
  font-size: 10px;
  font-weight: bold;
	font-color: #ffffff;
	color: #ffffff;
  background:#666666;
}

.input
{
  font-family: Arial; 
  font-size: 10px;    
  width: 100%;
}

.select
{
  font-family: Arial; 
  font-size: 10px;    
}

.titulo{
     color:"white"; 
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 17px; 
}


.comentario{
     color:"000000"; 
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 11px; 
}

.numero{
     color:"cc0000"; 
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 9px; 
}

.comentario2{
     color:"000000"; 
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 12px; 
     font-weight: bold;
}

.titulo1
{  
  background:#ffa928;
  color:white;
  font-size:22px;
  font-family: Arial;
  font-weight: bold;
}

.titulo11
{  
  background:#ffa928;
  color:white;
  font-size:16px;
  font-family: Arial;
  font-weight: bold;
}

.titulo2
{  
  background:blue;
  color:black;
  font-family: Arial;
  font-weight: bold;
}

.titulo3
{  
  background:#99ccff;
  color:black;
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;  
}

.titulo4
{  
  color:black;
  font-size:16px;
  font-family: Arial;
  font-weight: bold;
}


.tituloF
{
  background:#ffa928;
  color:black;
  font-family: Arial;
  font-weight: bold;
  font-size:13px;
}

.fondotabla{
   background:"#ECE9D8"
}



.boton
{ 
   font-size: 12px;
   font-weight: bold; 
   color: #FeF; 
   background-color: #036; 
   border-color: #69F
}

.boton_herramienta
{ 
   font-size: 10px;   
   color: #FeF; 
   font-family: Arial;
   background-color: #036; 
   border-color: #69F   
}

.boton_herramienta2
{ 
   font-size: 10px;      
}

a:link , a:active ,  a:visited
{
    color: blue;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none
    font-weight: bold; 
}
a:hover
{
    font-family: Arial;
    color: red;
    text-decoration: none;
    font-size: 12px
    font-weight: bold; 
}

.linea
{
    color: red;
}

.Simulacion_Hiper
{
    color: blue;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none
    font-weight: bold; 
}
body {
	background-color: #ebebeb;
}
