@charset "utf-8";
/* CSS Document */
@font-face {
 font-family: trebuchet;
 src: url("trebuchet.eot") /* EOT file for IE */
}
@font-face {
 font-family: trebuchet;
 src: url("trebuchet.ttf") /* TTF file for CSS3 browsers */
}

/*DEFINIR LOS ESTILOS DE LOS CONTROLES*/

body{
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.fila-base{ display: none; }

.style_redword {
    color: #0033FF;
    font-weight: bold;
}

.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible;padding: .4em 1em; } /* the overflow property removes extra width in IE */

.div_enfocado{
	font: 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	/*border:1px solid #1d5987 ;*/
	border:1px solid #fad42e;
	background: #fbec88 ;
	padding: 3px 3px 3px 3px;
}

/*OBJETOS*/

.form_editar_cliente, .header_cliente {
    background-color: #070;
    padding: 7px;
    border-radius: 7px;
}

.form_editar_cliente {
    margin-top: 10px;
    color: #0A320A;
    padding: 1px;
    width: 815px;
    height: 338px;
    position: relative;
    top: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: #FFF;
    -moz-box-sizing: border-box;
    border-radius: 7px;
}

.titulo{
    font-size: 16px;
    color: #F7F5F7; //#2A88C8;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.1px;
    line-height: 21px;
    margin-left: 5px
}

.EstiloNuevoInsumo{
    font-size: 12px;
    color: #ff3333; //#2A88C8;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    //text-align: left;
    letter-spacing: 0.1px;
    line-height: 21px;
    margin-left: 5px
}

.EstiloInputRight{
    text-align: right;
}

select {
    background: #68AFDF; //#67C659;
    background-position: 280px center;
    background-repeat: no-repeat;
    padding: 5px;
    font-size: 14px;
    color:#F7F5F7 !important ;
    font-weight: bold;
    font-family: helvetica, sans-serif;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    width: 150px;
}

select:hover{
    background-color: #2A88C8; //#070;
}

/*
select{
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border:1px solid #a6c9e2;
	background: #F5FAFA;
	background: #E0F8EC;
	padding: .5px .5px .5px .7px;
}
*/

button:hover{
    background: url("images/ui-bg_highlight-soft_50_4eb305_1x100.png") repeat-x scroll 50% 50% #4EB305;
    border: 1px solid #008000;
    color: #FFFFFF;
    font-weight: normal;

}

input_xx {

    font-family: helvetica, sans-serif  !important;
    font-size: 13px  !important;
    color: #040  !important;
    letter-spacing: 0.1px  !important;
    height: 23px  !important;
    text-align: left  !important;
    font-weight: bold !important;
    background: #E0F8EC;

}

input{
	/*font: 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;*/
        font-family: helvetica, sans-serif !important;
        font-size: 13px !important;
	color: #4f6b72;
	border:1px solid #a6c9e2;
	/*background: #67C659;*/
        background: #E0F8EC;
	padding: 3px 3px 3px 3px;
}

/*
input_original{
	font: 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border:1px solid #a6c9e2;
	background: #E0F8EC;
	padding: 3px 3px 3px 3px;
}
*/

input:focus{
	font: 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border:1px solid #fad42e;
	background: #fbec88 ;
	padding: 3px 3px 3px 3px;
}

input[type=checkbox]{
	background: #E0F8EC;
	padding: 0px 0px 0px 0px;
	border:1px  solid #FFFFFF;
}

.input_hover{
	font: 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	/*border:1px solid #1d5987 ;*/
	border:1px solid #fad42e;
	background: #fbec88 ;
}

textarea{
	/*font: 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;*/
        font-family: helvetica, sans-serif !important;
        font-size: 14px !important;
	color: #4f6b72;
	border:1px solid #a6c9e2;
	/*background: #E0F8EC;*/
        background: #E0F8EC;
	padding: 3px 3px 3px 3px;
}

textarea:focus{
	font: 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border:1px solid #fad42e;
	background: #fbec88 ;
	padding: 3px 3px 3px 3px;
}

.td {
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #2A88C8; /*rgba(10, 50, 10, 1);*/
    line-height: 1.3 ;
}

.ventana{
    display:none;
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
    font-size:12px;
    text-align:justify;

}


.k-block, .k-header {
    background-color: #2A88C8; //#070;
    padding: 2px;
    border-radius: 2px;
}

.div_vinculo{
	color:#0000FF;
	cursor:pointer;
}

fieldset {
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
        border:1px solid #999;
	border-radius:8px;
	box-shadow:0 0 10px #999;
}
.fieldset {
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

legend {
	background:#fff;
        //border:1px solid;
}

.legend {
	background:#fff;
        //border:1px solid;
        font-size:14px;
        color:#555555;

border: solid 1px black;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;

}

fieldset2 { border:1px solid green }

legend2 {
  padding: 0.2em 0.5em;
  border:1px solid green;
  color:green;
  font-size:90%;
  text-align:right;
  }
/*FIN DEFINICIO ESTILOS DE LOS CONTROLES*/

/*ESTILO DE VENTANAS*/

#div_espera {
	background:url('alert/bigrotation.gif') no-repeat center;
	background-color:#EDEEF8;
	position: absolute;
	left: 55%;
	top: 55%;
	width: 150px;
	height: 100px;
	margin-top: -100px;
	margin-left: -150px;
	overflow: auto;
	border:1px solid #D4D4D4;
	text-align:center;
	z-index:100;
}

#div_espera2 {
	background:url(/html/imagenes/bigrotation.gif) no-repeat center;
	background-color:#EDEEF8;
	position: absolute;
	left: 55%;
	top: 55%;
	width: 150px;
	height: 100px;
	margin-top: -100px;
	margin-left: -150px;
	overflow: auto;
	border:1px solid #D4D4D4;
	text-align:center;
	z-index:100;
}

.titulo_ventana {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #2A88C8; //#4297d7;
	background: #2A88C8; //#006C3A;
	color: #ffffff;
	font-weight: bold;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	padding: .5em 1em .3em;
	position: relative;
	cursor: move;
}

.titulo_ventana2 {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #4297d7;
	background: #5c9ccc url(imagenes/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 55% 55% repeat-x;
	color: #ffffff;
	font-weight: bold;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	padding: .5em 1em .3em;
	position: relative;
}

.titulo_right{
    font-size: 16px;
    color: #F7F5F7;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.1px;
    line-height: 21px;
    margin-left: 5px;
    float: right;
}

.labels {
	font-size: 10px;
	font-weight: bold;
}
.labels_blancos {
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bolder;
}

.labels_rojos{
	font-size: 10px;
	font-weight: normal;
	color: #E10000;
}

.label_tachado {
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: line-through;
}
/*FIN ESTILO VENTANAS*/

/*TABS*/
.container {width: 500px; margin: 10px auto;}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {

	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}

ul.tabs li a:hover {
	background: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
/*FIN DE TABS*/

/*TABLAS*/
.tabla{
    width: 765px;
    margin-top: 3%;
}

.table{
    margin-top: 2%;
    font-size: 12px;
    font-weight: bold;
    margin-left: 3%;

}

.tablas{
  	padding: 0;
	margin: 0;
	border-collapse:collapse;
}

.tablas th{
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border-right: 1px solid #76B7E2; //#C1DAD7
	border-left: 1px solid #76B7E2;
	border-bottom: 1px solid #76B7E2;
	border-top: 1px solid #76B7E2;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	padding: 3px 3px 3px 3px;
	/*background: #070 url(imagenes/bg_header.jpg) no-repeat ; /*Este era el que estaba: #006C3A*/
        background: #2A88C8;
}

.tablas td{
 	border-right: 1px solid #76B7E2; //#CEF6E3;
	border-left: 1px solid #76B7E2;
	border-bottom: 1px solid #76B7E2;
	border-top: 1px solid #76B7E2;
	padding: 3px 3px 3px 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.tablas_sinresaltar{
  	padding: 0;
	margin: 0;
	border-collapse:collapse;
}

.tablas_sinresaltar th{
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	padding: 3px 3px 3px 3px;
	/*background: #CAE8EA url(imagenes/bg_header.jpg) repeat-x ;*/
        background: #2A88C8;
}

.tablas_sinresaltar td{
 	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	padding: 3px 3px 3px 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.tablas_WoBorders{
    padding: 0;
    margin: 0;
    border-collapse:collapse;
}

.tablas_WoBorders td{
    padding: 3px 3px 3px 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.odd {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
 }

.even {
    background: #F5FAFA;
    color: #797268;
 }

.highlight, .odd:hover, .even:hover {
  background-color: #C6EAF4; //#CEF6E3;
}

.resaltador {
	background-color:#000066;
	color:#FFFFFF
}
/*END TABLAS*/

.del_disabled {
    //font-size: 10px;
    //font-weight: normal;
    //width: 60px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
    background: #dddddd;
}

/*COMBOS*/
.combo_250px {
	font-size: 10px;
	font-style: normal;
	width: 250px;
}
.combo_100px {
	font-size: 10px;
	font-style: normal;
	width: 100px;
}
.combo_150px {
	font-size: 10px;
	width: 150px;
}

.combo_300px {
	font-size: 10px;
	font-style: normal;
	width: 300px;
}
.combo_120px {
	font-size: 10px;
	width: 120px;
}
.combo_60px {
	font-size: 10px;
	font-style: normal;
	width: 60px;
}
.combo_40px {
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	width: 40px;
}
.combo_180px {
	font-size: 10px;
	width: 180px;
}
.combo_200px {
	font-size: 10px;
	font-style: normal;
	width: 200px;
}
.combo_300px_disabled {
	font-size: 10px;
	font-style: normal;
	width: 300px;
        border: solid 1px #fff;
        box-shadow: inset 1px 1px 2px 0 #707070;
        transition: box-shadow 0.3s;
        background: #dddddd;
}
/*FIN COMBOS*/

.inputHoras_60px {
    font-size: 10px;
    font-weight: normal;
    width: 60px;

    /*
    padding: 10px;
    */

    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}

/* Cajas de texto */
.input_200x70px {
	font-size: 10px;
	font-weight: normal;
	width: 200px;
	height: 70px;
}

.input_270x29px {
	font-size: 10px;
	font-weight: normal;
	width: 270px;
	height: 29px;
}


.input_300x50px {
	font-size: 10px;
	font-weight: normal;
	width: 300px;
	height: 50px;
}

.input_60px {
	font-size: 10px;
	font-weight: normal;
	width: 60px;
}

.input_80px {
	font-size: 10px;
	font-weight: normal;
	width: 80px;
}

.input_120px {
	font-size: 10px;
	font-weight: normal;
	width: 120px;
}

.input_80Normalpx {
	font-size: 10px;
	font-weight: normal;
	width: 80px;
}
.input_80InsumoAPUpx {
	font-size: 10px;
	font-weight: normal;
	width: 80px;
}

.input_80pxWithOutAction {
	font-size: 10px;
	font-weight: normal;
	width: 80px;
}


.input_80pxEspecial {
	font-size: 10px;
	font-weight: normal;
	width: 80px;
}

.input_80pxValor {
	font-size: 10px;
	font-weight: normal;
	width: 80px;
}


.input_80pxDespacho {
	font-size: 10px;
	font-weight: normal;
	width: 80px;
}

.input_80pxDespachoEsp {
	font-size: 10px;
	font-weight: normal;
	width: 80px;
}



.input_100px {
	font-size: 10px;
	font-weight: normal;
	width: 100px;
}

.input_120px {
	font-size: 10px;
	font-weight: normal;
	width: 120px;
}

.inputCalendar {
	font-size: 10px;
	font-weight: normal;
	width: 100px;
}

.inputCalendarNews {
	font-size: 10px;
	font-weight: normal;
	width: 100px;

        border: solid 1px #fff;
        box-shadow: inset 1px 1px 2px 0 #707070;
        transition: box-shadow 0.3s;
}

.inputCalendarCargados {
	font-size: 10px;
	font-weight: normal;
	width: 100px;
}

.input_200px {
	font-size: 10px;
	font-weight: normal;
	width: 196px;
}

.input_250px {
	font-size: 10px;
	font-weight: normal;
	width: 250px;
}

.input_400px {
	font-size: 10px;
	font-weight: normal;
	width: 400px;
}
.input_450px {
	font-size: 11px;
	font-weight: normal;
	width: 450px;
}

.textbox_200px {
	font-size: 10px;
	font-weight: normal;
	width: 200px;
}
.textbox_150px {
	font-size: 10px;
	width: 150px;
}
.textbox_60px {
	font-size: 10px;
	width: 60px;
}

.textbox_65px {
	font-size: 10px;
	width: 90px;
        height: 25;
	font: 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #990000;
}

.textbox_120x35px {
	font-size: 10px;
	width: 120px;
        height: 35;
	font: 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #990000;
}

.textbox_100 {
	font-size: 10px;
	font-weight: normal;
	width: 100px;
}


.textbox_300 {
	font-size: 10px;
	font-weight: normal;
	width: 300px;
}
.textbox_450 {
	font-size: 10px;
	font-weight: normal;
	width: 450px;
}
.textbox_300x100px {
	font-size: 10px;
	width: 300px;
	height: 100px;
}
.textbox_400x100px {
	font-size: 10px;
	width: 400px;
	height: 100px;
}
.textbox_450x100px {
	font-size: 10px;
	width: 450px;
	height: 100px;
}
.textbox_220x100px {
	font-size: 10px;
	height: 100px;
	width: 220px;
}
.textbox_750x150 {
	font-size: 10px;
	height: 150px;
	width: 750px;
	vertical-align: middle;
}
.textbox_600x100 {
	font-size: 12px;
	height: 100px;
	width: 600px;
	vertical-align: middle;
}
.textbox_930x100 {
	font-size: 14px;
	height: 100px;
	width: 930px;
	vertical-align: middle;
}

.textbox_350x150 {
	font-size: 10px;
	width: 350px;
	height: 150px;
}
.textbox_350x60 {
	font-size: 10px;
	height: 60px;
	width: 350px;
}
.textbox_590x50 {
	font-size: 10px;
	width: 590px;
	height: 50px;
}
.textbox_190x18 {
	font-size: 10px;
	width: 190px;
	height: 18px;
}
.ctrl_300px {
	width: 300px;
}

/* ////////////////////////// */
.derecha
{
	text-align:right;
	font-size:10px;
    font-family:Verdana,Helvetica;
}
/* ////////////////////////// */


/*ICONOS ICONOS ICONOS ICONOS*/

.ui-corner-all { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-icon { width: 16px; height: 16px; background-image: url(imagenes/ui-icons_469bdd_256x240.png); cursor:default; }
.ui-widget-content .ui-icon {background-image: url(imagenes/ui-icons_469bdd_256x240.png); }
/*.ui-widget-header .ui-icon {background-image: url(imagenes/ui-icons_d8e7f3_256x240.png); }*/
/*.ui-widget-header .ui-icon {background-image: url(alert/close.png); }*/
.ui-widget-header .ui-icon {background-image: url(/fintra/images/button_x.gif); }
.ui-state-default .ui-icon { background-image: url(imagenes/ui-icons_6da8d5_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(imagenes/ui-icons_217bc0_256x240.png); }
.ui-state-active .ui-icon {background-image: url(imagenes/ui-icons_f9bd01_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(imagenes/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(imagenes/ui-icons_cd0a0a_256x240.png); }

.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/*FIN ICONOS ICONOS ICONOS ICONOS*/

.selectable .ui-selecting { background: #FECA40; }  /* FECA40 */
.selectable .ui-selected { background: #F39814; color: white; }  /* F39814 */
/*#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }*/
.selectable{ clear:both; }

.div_blanco{
    font-size: 10px;
	width:15px;
	height:15px;
	border: 1px solid #C1DAD7;
	margin:0.5px 0.5px 0.5px 0.5px;
	padding:2px 2px 2px 2px;
	background-color: #FFFFFF;
}

.div_dia{
    font-size: 10px;
	width:15px;
	height:15px;
	border: 1px solid #C1DAD7;
	margin:0.5px 0.5px 0.5px 0.5px;
	padding:2px 2px 2px 2px;
	background-color: #dce6a2;
}

.div_dia_ocupado{
   	font-size: 10px;
	width:15px;
	height:15px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #c5dbec;
	/*background-color: #BFD5D7;*/
}
.div_dia_seleccionado{
	width:15px;
	height:15px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #FFFF99;
}

.div_dia_reservado{
   	font-size: 10px;
	width:15px;
	height:15px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #66CC33;
	/*background-color: #BFD5D7;*/
}

.div_mes{
	width:25px;
	height:15px;
	border: 1px solid #0000CC; /* C1DAD7 */
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	clear:both;
}

/* -------------- TEMPORADAS ------------------- */
.tmp_baja{
	width:15px;
	height:15px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #dce6a2;
}

.tmp_media{
	width:15px;
	height:15px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #fcda76;
}

.tmp_media_alta{
	width:15px;
	height:15px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #ecbc86;
}

.tmp_alta{
	width:15px;
	height:15px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #E9967A;
}

.tmp_super_alta{
	width:15px;
	height:15px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #FF6347;
}

.tmp_inhabil{
	width:15px;
	height:15px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #33FF00;
}

/* ------------------------------------------------------------- */

.temporada_color_b{
	width:250px;
	height:20px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #dce6a2;
}

.temporada_color_m{
	width:250px;
	height:20px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #fcda76;
}

.temporada_color_ma{
	width:250px;
	height:20px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #ecbc86;
}

.temporada_color_a{
	width:250px;
	height:20px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #E9967A;
}

.temporada_color_sa{
	width:250px;
	height:20px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #FF6347;
}

.temporada_color_inh{
	width:250px;
	height:20px;
	border: 1px solid #C1DAD7;
	padding:2px 2px 2px 2px;
	margin:0.5px 0.5px 0.5px 0.5px;
	background-color: #33FF00;
}


/* -------------- TEMPORADAS ------------------- */

.ui-state-error {border: 1px solid #cd0a0a; background: #FFE6E6;
color: #FF0000;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
bottom:0px;
left:5px;
position:absolute;display:none; width:250px; overflow:auto; z-index:500;  }


/* jQuery UI Button @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; }
button.ui-button-icons-only { width: 3.7em; }

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; }

.sortable th.descend:after{
    content: "\25B2";
}
.sortable th.ascend:after{
    content: "\25BC";
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn-lg-inventario {
  font-size: 13px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary-inventario {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary-inventario:hover,
.btn-primary-inventario:focus,
.btn-primary-inventario:active,
.btn-primary-inventario.active,
.open .dropdown-toggle.btn-primary-inventario {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary-inventario.raised {
    box-shadow: 0 3px 0 0 #1a4687;
}
.btn-primary-inventario.raised:active, .btn-primary-inventario.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.btn-inventario {
    padding: 14px 24px;
    border: 0 none;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-inventario:focus, .btn-inventario:active:focus, .btn-inventario.active:focus {
    outline: 0 none;
}

.btn-primary-inventario {
    background: #1a8acc;
    color: #ffffff;
}


ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.padding-top-40px{
    padding-top: 40px;
}

.boton-centrado{
    font-size: larger;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 1%
}

.col-descripcion{
    width: 50%;
    max-width: 250px;
}

.green{
    color: green;
}

.blue{
    color: green;
}

.gris{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    color: gray;
}

.white{
    color: white !important;
}