label{
    font-size: 15px; 
    font-weight: bold;
    margin: .5em 4px 0 0
/*    display: block;*/
}

fieldset{
   border-radius: 5px;
   padding-top: 10px;
}

select{
   /* background:#7c7 ;*/
   background: transparent;
   border: none;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 250px;
}

button:hover{
   background: repeat-x scroll 50% 50% rgba(32, 66, 126, 0.84) !important ;
    border: 1px solid blue;
    color: #FFFFFF !important;
    font-weight: normal;
}

#container{    
    width: auto; 
    margin:15px auto 0 auto; 
    background-color: #ffffff;
    border: 1px solid rgba(21, 83, 20, 0.36);
    border-radius: 3px;
    border-color: #2A88C8 !important;
}

#aceptar{
    float: right;    
    margin-right:37px 
}

.ventana{
    display:none;    
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
    font-size:12px;
    text-align:justify;

}

 .ui-jqgrid .ui-jqgrid-htable th div
{
        height: auto;
        overflow: hidden;
        padding-right: 4px;
        font-size:11px; 
        padding-top: 2px;
        position: relative;
        vertical-align: text-top;
        white-space: normal !important;
}