/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/08/2015, 09:08:27 AM
    Author     : mcastillo
*/

body{  
   font-size:12px !important;  
   font-weight: normal;
   background-color: #F7F8F9
}

/*button:hover{
    background: repeat-x scroll 50% 50% rgba(32, 66, 126, 0.84) ;
    border: 1px solid blue;
    color: #FFFFFF;
    font-weight: normal;

}*/

button:hover{
   background: #397EAD !important ;
    border: 1px solid blue;
    color: #FFFFFF !important;;
    font-weight: normal;

}

.login {
     top: 35%;
     left:40%; 
  position: absolute;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.login h1 {

  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  text-shadow: 0 1px white;
  background: #2A88C8;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}

.login p {
  margin: 20px 0 0;
}

.table{
    margin-top: 2%;
    font-size: 12px;
    font-weight: bold;
    margin-left: 3%;

}

.td { 
    padding: 8px;
}

input{

    font-family: helvetica, sans-serif;
    font-size: 12px !important;
    color: #014;
    letter-spacing: 0.1px;

}

.tbl_planilla {    
    width: 440px;
    font-size: 13px;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #2A88C8;
    background: white;    
    border-collapse: inherit !important;

}

.tbl_planilla td{ 	
	padding: 3px 3px 3px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.titulo{
    font: 150% sans-serif; 
    font-size: 14px;
    font-weight: bold !important ;
    text-align: center;
    line-height: 30px;
}

select{
   // background:#7c7 ;
    background-position: 280px center;
    background-repeat: no-repeat;
    padding: 2px;
    font-size: 12px !important;
    color:#696C71 !important;
    font-weight: bold;
    font-family: helvetica, sans-serif;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    width: 200px;
}

.inpt{
    height: 21px;
    width: 150px;
    -moz-box-flex: 1;
    padding: 1px 8px;
    background: none repeat scroll 0% 0% padding-box rgba(255, 255, 255, 0.9);
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: rgba(23, 51, 78, 0.15) rgba(23, 51, 78, 0.17) rgba(23, 51, 78, 0.2);
    box-shadow: 0px 1px 0px rgba(8, 22, 37, 0.02) inset, 0px 0px 2px rgba(8, 22, 37, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.2);
    border-radius: 2.5px 0px 0px 2.5px;
    color: inherit;
    font-family: sans-serif;
    font-size: small;
   // text-align: center;
    text-transform: uppercase;
}

#div_configPrecioProd{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;    
    position:relative; 
    border-radius: 8px;
    border:1px solid #2A88C8;
    background-color:  #ffffff;
    padding: 10px;  
    width: 50%;
    height:450px
    
}

#div_transxdia{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:justify;
    position:relative; 
    border-radius: 8px;
    border:1px solid #2A88C8;
    background-color:  #ffffff;
    padding: 10px;  
    width: 936px;
    
}

#search_planilla{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:justify;
    position:relative; 
    border-radius: 8px;
    border:1px solid #2A88C8;
    background-color:  #ffffff;
    padding: 10px;  
    width: 1150px;
    
}

.tablas{
  	padding: 0;
	margin: 0;
	border-collapse:collapse;
}

.tablas th{
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border-right: 1px solid #C1D0DA;
	border-left: 1px solid #C1D0DA;
	border-bottom: 1px solid #C1D0DA;
	border-top: 1px solid #C1D0DA;
	letter-spacing: 1px;
	//text-transform: uppercase;
	text-align: center;
	padding: 3px 3px 3px 3px;
	background: #2A88C8;
}

.tablas td{
 	border-right: 1px solid #CEF2F6;
	border-left: 1px solid #CEF2F6;
	border-bottom: 1px solid #CEF2F6;
	border-top: 1px solid #CEF2F6;
	padding: 3px 3px 3px 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
        background-color:#FDFEFF; 
}

.tablas tr:hover td {
    background-color: rgba(222, 248, 255, 0.73) !important;
}
.ui-dialog {
    height:auto !important;
}

h4{
    color:#ffffff;
    background-color: #2A88C8;
    padding: 5px;
    margin: -1px 0px 13px 2px;
    font-weight: bold;

}

.letraVerde{
    color: green !important;
} 

.letraNormal{
    color: inherit;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}