<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<link href="../css/estilostsp.css" rel="stylesheet" type="text/css">
<link href="<%=BASEURL%>/css/estilostsp.css" rel="stylesheet" type="text/css">

</head>

<body>
<div align="center">
  <form name="Buscar" method="post" action="" id="Buscar">
  <table width="501" border="2" align="center">
    <tr>
      <td>
	  <table width="99%" align="center" bgcolor="#FFFFFF">
              <tr>
                <td width="50%" height="22" class="subtitulo1">Buscar Remesa <span class="letra"></span></td>
                <td width="252" class="barratitulo"><img src="<%=BASEURL%>/images/titulo.gif" width="32" height="20"></td>
              </tr>
  </table>
    <table width="99%">
    <tr class="fila">
      <td width="230"><div align="right" class="style1">
        <div align="left">Digite el numero de la remesa </div>
      </div></td>
      <td width="220"><input name="campo" type="text" class="textbox" id="campo" size="30">        
        <img src="<%=BASEURL%>/images/botones/aceptar.gif" name="mod"  height="21" align="absmiddle" style="cursor:hand" onClick="buscar()" onMouseOver="botonOver(this);" onMouseOut="botonOut(this);"></td>
      </tr>
  </table>
  </td>
  </tr>
  </table>
  </form>
</div>
</body>
</html>
<script language="JavaScript">
  function buscar() {
      a=Buscar.campo.value;
	  if (a!="") {
	      parent.frames[1].location = "infoRemesa.jsp?numrem="+a; 
	  }
  }
</script>

