/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/06/2017, 10:39:26 AM
    Author     : Ing.William Siado
*/

.contenedorprincipal{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    position: absolute;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    transition: all 1s ease-in;
    opacity: 70;
    z-index: 0;
    right: -100%;
}

.contenedor.show{
    opacity: 100;
    z-index: 10;
    right: 0;
    
}
.marcador {
  width: 12%;
  height: 100vh;
  background-color: #2A88C8;
  position : absolute;
}


.marcador table {
    border-collapse: collapse;
    width: 100%;
    background-color: #2A88C8;
}
.marcador tr{border-bottom:1px solid #7ABAF2}
.marcador tr:hover {background-color: #7ABAF2}


.marcador th, .marcador td {
    text-align: left;
    padding: 5px;
    padding-bottom: -3px;
    
    color: white;
}

.marcador td label{
  color: white;
}

.marcador td:first-child{background-color: #00305A;width:150px}
.marcador td:nth-child(2){text-align: right}

.marcador th {
    background-color: #00305A;
    color: white;
}

#cbx_causal{
    width: 95%
}


