/* --------------------	*/
/* Global Attributes	*/
/* --------------------	*/

/* This is where you set your desired font size. The line-heights 
   and vertical margins are automatically calculated from this. 
   The percentage is of 16px (0.625 * 16px = 10px). */

.nitobi { font-size: 62.5%; }

/* Default fonts and colors 
---------------------------------------------*/

.nitobi, .nitobi td {
	color:#333333;
	font-family:Tahoma, Arial, Verdana;
	font-size: 12px;
	text-align:left;
}

.nitobi h1,.nitobi h2,.nitobi h3,.nitobi h4,.nitobi h5,.nitobi h6 { 
	color:#222222; 
	font-family:Tahoma, Arial, Verdana;
}

/* Links */

/* --------------------	*/
/* Text  				*/
/* --------------------	*/

/* Headings
---------------------------------------------*/
.nitobi h1, .nitobi h2, .nitobi h3, .nitobi h4, .nitobi h5, .nitobi h6 { 
	font-weight: normal; 
}

.nitobi h1 { font-size: 3.6em; line-height: 1; margin-bottom: 0.5em; }
.nitobi h2 { font-size: 2.4em; margin-bottom: 0.75em; }
.nitobi h3 { font-size: 1.8em; line-height: 1; margin-bottom: 1em; }
.nitobi h4 { font-size: 1.4em; line-height: 1.25; margin-bottom: 1.25em; }
.nitobi h5 { font-size: 1.2em; font-weight: bold; margin-bottom: 1.5em; }
.nitobi h6 { font-size: 1.2em; font-weight: bold; }

/* Text Elemenets
---------------------------------------------*/

.nitobi p 			{ font-family:Tahoma, Arial, Verdana; font-size:1.2em; margin: 0 0 1.5em; }
.nitobi p.last      { margin-bottom: 0; }
.nitobi p img       { float: left; margin: 0; padding: 0; }
.nitobi p img.top   { margin-top: 0; } /* Use this if the image is at the top of the <p>. */

/* Forms */

/* Lists */

.nitobi .ntb-grid { 
	border:1px solid #CCCCCC;
}

/*********** Column headers ******************/

.nitobi .ntb-grid-header { 
	background-image:url('column_deadspace.gif'); 
}

.nitobi .ntb-column-descending,
.nitobi .ntb-column-ascending { 
	background-color:#EFEFEF; 
}

.nitobi .ntb-column-indicator { 
	padding:2px; 
}

.nitobi .ntb-column-indicator-border,
.nitobi .ntb-column-indicator-borderhover,
.nitobi .ntb-column-indicator-borderascending,
.nitobi .ntb-column-indicator-borderdescending,
.nitobi .ntb-column-indicator-borderascendinghover,
.nitobi .ntb-column-indicator-borderdescendinghover {
    background: url('column_header.gif') no-repeat right bottom;
	padding: 0px 1px 0px 0px; /*this is to make headers line up with data*/
    cursor: pointer; /*Firefox*/
    cursor: hand;
	height:auto;
}
.nitobi .ntb-column-indicator-borderhover {
    background:url('column_header_over.gif') no-repeat right bottom;
}
.nitobi .ntb-column-indicator-borderascending {
    background:url('column_asc.gif') no-repeat right bottom;
}
.nitobi .ntb-column-indicator-borderdescending {
    background:url('column_desc.gif') no-repeat right bottom;
}
.nitobi .ntb-column-indicator-borderascendinghover {
	background:url('column_asc_over.gif') no-repeat right bottom;
}
.nitobi .ntb-column-indicator-borderdescendinghover {
	background:url('column_desc_over.gif') no-repeat right bottom;
}

.nitobi .ntb-column-resizeline {
    filter:alpha(opacity=50);
    -moz-opacity: .50;
    opacity: .50;
    background-color: #736F6E;	/* gray */
    width: 3px;
    position:absolute;
    display:none;
    top: -1000px;
    left: -3000px;
    cursor: w-resize;
    z-index: 900;
}

.nitobi .ntb-grid-resizebox {
    filter:alpha(opacity=50);
    -moz-opacity: .50;
    opacity: .50;
    background-color: #736F6E;	/* gray */
    width: 3px;
    position:absolute;
    display:none;
    top: -5000px;
    left: -5000px;
    cursor: w-resize;
    z-index: 900;
}

.nitobi .ntb-row {
}

.nitobi .ntb-row-alternate {
}

.nitobi .ntb-row-hover { 
	background-color:#E7E3D6 
}

.nitobi .ntb-row-select { 
	clear:both; 
}

.nitobi .ntb-cell {
    text-decoration:none;
	padding:0px 2px 0px 4px;
	white-space:nowrap;
}

.nitobi .ntb-cell-border {
	border-right:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
}

.nitobi .ntb-cell-hover { 
	background-color:#FCD661; 
}

.nitobi .ntb-grid-selection {
    background-color:transparent;
    display:block;
    height:10px;
    width:10px;
    position:absolute;
    left:-2000px;
    top:-2000px;
}

.nitobi .ntb-grid-selection-grabby {
	/* Note: Always define a generic cursor 
	at the end of the list in case none of 
	the url-defined cursors can be used */
	
    position:absolute;
    right:-1px;
    bottom:-1px;
    width:5px;
    height:5px;
    overflow:hidden;
    background-color:#000000;
    cursor:pointer;
    cursor:hand;
    z-index:20;
}

.nitobi .ntb-grid-selection-border {
    border: 1px solid #000000;
}

.nitobi .ntb-grid-selection-border-active {
    border:1px dashed #000000;
}

.nitobi .ntb-grid-selection-background {
    background-color:#F0B604;
    filter:alpha(opacity=25);
    -moz-opacity:.25;
    opacity:.25;
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:15;
}

.nitobi .ntb-loading {
    background-color:#FFFFFF;
    filter:alpha(opacity=85);
    -moz-opacity:.85;
    opacity:.85;
    z-index:200000;
    position:absolute;
	cursor:wait;
}

.nitobi .ntb-loading-icon { 
	overflow:hidden; 
	z-index:300000; 
}

/******** Image editor / column ************/

.nitobi .ntb-image {
}

/******** Checkbox editor / column ************/

.nitobi .ntb-checkbox { 
	width: 17px; 
	height: 100%;
	float: left;
}
.nitobi .ntb-checkbox-unchecked {
	background: transparent url('unchecked.gif') no-repeat center center; 
}
.nitobi .ntb-checkbox-checked {
	background: transparent url('checked.gif') no-repeat center center; 
}
.nitobi .ntb-checkbox-text {
	float:left;
}

.nitobi input, .nitobi textarea, .nitobi select, .nitobi .ntb-input {
	/*NOTE: Inputs don't inherit front styles*/
	color:#333333;
	font-family:Tahoma, Arial, Verdana;
	font-size: 12px;
    border:0px solid #000000;
    padding:0px 2px 0px 4px;
    width: 100px;
	background-color: transparent;
}

.nitobi .ntb-input-border { 
	border:1px solid #000000; 
	background: #ffffff url('input_bg.png') repeat-x top left; 
}

.nitobi .ntb-lookup-options {
	background-color: #ffffff;
	border-top: 1px solid #000000;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.nitobi .ntb-resize-indicator-right {
	background: transparent url('resize_right.png') no-repeat;
	position:absolute;
	bottom:-1px;
	right:-5px;
	width:4px;
	height:10px;
	line-height:1px;
	overflow:hidden;
	cursor: nw-resize;
}

.nitobi .ntb-resize-indicator-bottom {
	background: transparent url('resize_bottom.png') no-repeat;
	position:absolute;
	bottom:-5px;
	right:-5px;
	width:16px;
	height:4px;
	line-height:1px;
	overflow:hidden;
	cursor: nw-resize;
}

.nitobi .ntb-frozenshadow {
	right:-5px;
	width:5px;
	background:url('shadow.png');
}

.nitobi .ntb-datepicker-button {
    width:20px;
    text-align:center;
}

.nitobi .ntb-datepicker-button a {
    display:block;
    height:16px;
    width:16px;
    background: transparent url("date.gif") no-repeat;
}
.nitobi .ntb-datepicker-button a:hover { background-position: -16px 0; }
.nitobi .ntb-datepicker-input input { padding:0; margin:0; border:0; }
.nitobi .ntb-hyperlink-editor { text-decoration: underline; cursor: pointer; color: blue; }
.nitobi .ntb-hide { display:none; }

.nitobi .ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}

.nitobi .ntb-clipboard {
    position:absolute;
    top:1px;
    left:1px;
    height:1px; /* This is for Safari */
    width:1px;
    z-index:-1;
}

/* Text */.nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}