/********* Simple Green Apple **********/

.form-submit-button-simple_green_apple{

    cursor: pointer;

    -moz-border-radius:.5em;
    -webkit-border-radius:.5em;
    border-radius:.5em;

    padding:8px 18px;

    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-shadow:-1px -1px 0px #234684;

    border:1px solid #234684 !important; 

	-moz-box-shadow:inset 0px 1px 0px 0px #b9e84b;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b9e84b;
	box-shadow:inset 0px 1px 0px 0px #4BB1E8;

    background: #6d9c01; /* old browsers */
    background: transparent -moz-linear-gradient(center top , rgba(12, 181, 209, 0.91) 0%, #2A88C8 100%) repeat scroll 0% 0%; /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C8FD1), color-stop(100%,#2A88C8)); /* webkit */
	background: linear-gradient(top, #0C8FD1 0%, #2A88C8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C8FD1', endColorstr='#2A88C8', GradientType=0 ); /* ie */    
  }

.form-submit-button-simple_green_apple:hover{
    border:1px solid blue !important;
    background: #397EAD; /* old browsers */
    background: #397EAD; /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C8FD1), color-stop(100%,#397EAD)); /* webkit */
	background: linear-gradient(top, #0C8FD1 0%, #397EAD 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C8FD1', endColorstr='#397EAD', GradientType=0 ); /* ie */
}

.form-submit-button-simple_green_apple:active{
	border:1px solid #234684 !important;
    position: relative;
	top: 1px;
    background: #397EAD; /* old browsers */
    background: -moz-linear-gradient(top, #397EAD 0%, #0C8FD1 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#397EAD), color-stop(100%,#0C8FD1)); /* webkit */
	background: linear-gradient(top, #397EAD 0%, #9ed915 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#397EAD', endColorstr='#0C8FD1', GradientType=0 ); /* ie */
}
