<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="../css/estilostsp.css" rel="stylesheet" type="text/css">
<link href="<%=BASEURL%>/css/estilostsp.css" rel="stylesheet" type="text/css">

</head>

<body>
<div align="center">
  <form name="Buscar" method="post" action="" id="Buscar">
  <table width="578" border="2" align="center">
  <tr>
    <td>
	<table width="100%" align="center">
  <tr>
    <td width="392"  class="subtitulo1"><p align="left">Buscar por codigo del Cliente </p></td>
    <td width="392"  class="barratitulo"><img src="<%=BASEURL%>/images/titulo.gif" width="32" height="20"></td>
  </tr>
</table>
    <table width="100%">
    <tr class="fila" >
      <td width="50%"><div align="right" >
        <div align="left">Buscar por nombre o codigo del cliente </div>
      </div></td>
      <td width="310"><input name="campo" type="text" class="textbox" id="campo" onkeyUp="buscar()" size="44"></td>
      </tr>
  </table>
  </td>
  </tr>
  </table>
  
  </form>
</div>
</body>
</html>
<script language="JavaScript">
  function buscar() {
      a=Buscar.campo.value;
	  if (a!="") {
	      parent.frames[1].location = "extrafleteListar.jsp?var="+a; 
	  }
  }
</script>

