/* --------------------	*/
/* Global Attributes	*/
/* --------------------	*/

/* This is where you set your desired font size. The line-heights 
   and vertical margins are automatically calculated from this. 
   The percentage is of 16px (0.625 * 16px = 10px). */

.plastik { font-size: 62.5%; }

/* Default fonts and colors 
---------------------------------------------*/

.plastik {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-size: 12px;
	text-align:left;
}

.plastik h1,.plastik h2,.plastik h3,.plastik h4,.plastik h5,.plastik h6 { 
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* Links */

/* --------------------	*/
/* Text  				*/
/* --------------------	*/

/* Headings
---------------------------------------------*/
.plastik h1, .plastik h2, .plastik h3, .plastik h4, .plastik h5, .plastik h6 { 
	font-weight: normal; 
}

.plastik h1 { font-size: 3.6em; line-height: 1; margin-bottom: 0.5em; }
.plastik h2 { font-size: 2.4em; margin-bottom: 0.75em; }
.plastik h3 { font-size: 1.8em; line-height: 1; margin-bottom: 1em; }
.plastik h4 { font-size: 1.4em; line-height: 1.25; margin-bottom: 1.25em; }
.plastik h5 { font-size: 1.2em; font-weight: bold; margin-bottom: 1.5em; }
.plastik h6 { font-size: 1.2em; font-weight: bold; }

/* Text Elemenets
---------------------------------------------*/

.plastik p 			{ font-family:Tahoma, Arial, Verdana; font-size:1.2em; margin: 0 0 1.5em; }
.plastik p.last      { margin-bottom: 0; }
.plastik p img       { float: left; margin: 0; padding: 0; }
.plastik p img.top   { margin-top: 0; } /* Use this if the image is at the top of the <p>. */

/* Forms */

/* Lists */

.plastik.ntb-grid {
	border: 1px solid #898989 !important;
}
.plastik .ntb-grid-topheightLiveScrollingGrid1 {
	height: 20px;
}

.plastik .ntb-grid-header {
	background: url(assets/header.png) right top repeat-x;
	height: 24px;
}


/* Ascending & Decending */
.plastik .ntb-column-descending, .plastik .ntb-column-ascending { 
	background-color:#474747;
	color: #fff !important;
	border-top: 1px solid #3c3c3c;
}

.plastik .ntb-column-indicator { 
	padding: 0px 5px;
}

/* Default column settings */
.plastik .ntb-column-indicator-border, .plastik .ntb-column-indicator-borderascending, .plastik .ntb-column-indicator-borderdescending {;
    cursor: pointer; /*Firefox*/
    cursor: hand;
	height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align:left;
}

/* Column state settings */
.plastik .ntb-column-indicator-border {
	background: url(assets/header_inactive.png) right top no-repeat;
	color: #fff;
}
.plastik .ntb-column-indicator-borderhover {
	background: url(assets/header_hover.png) right top no-repeat;
}
.plastik .ntb-column-indicator-borderascending {
	background: url(assets/header_ascending.png) right top no-repeat;
	color: #fff;
}
.plastik .ntb-column-indicator-borderdescending {
	background: url(assets/header_decending.png) right top no-repeat;
	color: #fff;
}

.plastik .ntb-column-resizeline {
    filter:alpha(opacity=50);
    -moz-opacity: .50;
    opacity: .50;
    background-color: #000;
    width: 3px;
    position:absolute;
     display:none;
    top: -1000px;
    left: -3000px;
    cursor: w-resize;
    z-index: 900;
}

/* table background */
.plastik .ntb-row {
    margin:0px;
    cursor:default;
	background: url(assets/background2.png) top left repeat-x;
}
.plastik .ntb-row-alternate {
	background: url(assets/background1.png) top left repeat-x;
}

.plastik .ntb-row-hover { 
	background-color:#999;
}

.plastik .ntb-row-select { 
	clear:both; 
}

.plastik .ntb-cell {
    text-decoration:none;
	padding:0px 2px 0px 4px;
	white-space:nowrap;
}

.plastik .ntb-cell-border {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align:left;
	border-right: #999 1px solid;
}

.plastik .ntb-cell-hover { 
	background-color: #999;
}

.plastik .ntb-grid-selection-background {
    background-color: #000;
    filter:alpha(opacity=25);
    -moz-opacity:.25;
    opacity:.1;
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:15;
}

.plastik .ntb-loading {
    background-color:#FFFFFF;
    filter:alpha(opacity=85);
    -moz-opacity:.85;
    opacity:.85;
    z-index:200000;
    position:absolute;
	cursor:wait;
}

.plastik .ntb-loading-icon { 
	overflow:hidden; 
	z-index:300000; 
}

.plastik .ntb-check-box {
	background: url(assets/checkbox_off.gif) right top no-repeat;
	width: 15px; 
	height: 15px; 
	margin-right: 5px;
}

.plastik .ntb-check-box .ntb-checked { 
	background: url(assets/checkbox_on.gif) right top no-repeat;
	width: 15px; 
	height: 15px; 
	margin-right: 5px;
}

.plastik input, .plastik textarea, .plastik select, .plastik ntb-input {
	/*NOTE: Inputs don't inherit front styles*/
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    border:0px solid #999;
    padding:0px 2px 0px 4px;
    width: 100px;
}

.plastik .ntb-input-border { 
	border:1px solid #999; 
	background-color: #FFFFFF; 
}

.plastik .ntb-lookup-options {
	background-color: #ffffff;
	border-top: 1px solid #999;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.plastik .ntb-resize-corner {
    background: url(assets/resizecorner.png) top left no-repeat;
    width: 15px;
    height: 16px;   
    z-index:3000000;
    position:absolute;
}

.plastik .ntb-resize-indicator-right {
	background-color:blue;
	position:absolute;
	bottom:0px;
	right:-4px;
	width:4px;
	height:10px;
	line-height:1px;
	overflow:hidden;
}

.plastik .ntb-resize-indicator-bottom {
	background-color:#0000FF; 		/* light blue */
	position:absolute;
	bottom:-4px;
	right:-4px;
	width:15px;
	height:4px;
	line-height:1px;
	overflow:hidden;
}

.plastik .ntb-grid-selection {
    background-color:transparent;
    display:block;
    height:10px;
    width:10px;
    position:absolute;
    left:-2000px;
    top:-2000px;
}

.plastik .ntb-grid-selection-grabby {
	/* Note: Always define a generic cursor 
	at the end of the list in case none of 
	the url-defined cursors can be used */
	
    position:absolute;
    right:-1px;
    bottom:-1px;
    width:5px;
    height:5px;
    overflow:hidden;
    background-color:#000000;
    cursor:pointer;
    cursor:hand;
    z-index:20;
}

.plastik .ntb-grid-selection-border {
    border: 1px solid #000000;
}

.plastik .ntb-grid-selection-border-active {
    border:1px dashed #000000;
}

.plastik .ntb-grid-copy-buffer {
    position:absolute;
    top:1px;
    left:1px;
    height:0px;
    width:0px;
    z-index:-1;
}

.plastik .ntb-datepicker-button {
	/* change class name from .ntb-dp-input .ntb-dp-inputbutton */
    width:20px;
    text-align:center;
}

.plastik .ntb-datepicker-button a {
	/* changed from .ntb-dp-input .ntb-dp-inputbutton a */
    display:block;
    height:16px;
    width:16px;
    background: url(assets/date.gif) top left no-repeat;
}
.plastik .ntb-datepicker-button a:hover { background-position: -16px 0; }
.plastik .ntb-datepicker-input input { padding:0; margin:0; border:0; }
.plastik .ntb-hyperlink-editor { text-decoration: underline; cursor: pointer; color: blue; }
.plastik .ntb-hide { display:none; }

.plastik .ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	overflow:hidden;
	width:auto;
}

.plastik .ntb-clipboard {
    position:absolute;
    top:1px;
    left:1px;
    height:0px;
    width:0px;
    z-index:-1;
}

.plastik .ntb-checkbox {
	height:15px;
	width:15px;
	margin-right: 5px;
}

.plastik .ntb-checkbox-unchecked {
	background: url(assets/checkbox_off.gif) right top no-repeat;

}

.plastik .ntb-checkbox-checked {
	background: url(assets/checkbox_on.gif) right top no-repeat;

}
/*
	border-top: #b7babc 1px solid;*/
/* Toolbar Overwrite */

.plastik .ntbtoolbarcontainer {
	height: 22px !important;
}
.plastik .ntb-toolbar {
	background: url(assets/toolbar.png) left top repeat-x !important;
}
.plastik .ntb-button-highlight {
	background: url(assets/toolbar_hover.png) left top repeat-x !important;
}
.plastik .ntb-button-down {
	background: url(assets/toolbar_hover.png) left top no-repeat !important;
}.nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}