/* Set default font */
.vista, .vista input, .vista textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
.vista input, .vista textarea {
	background: #edf4fa;
}

/* General settings */
.vista .ntb-combobox-text-container, .vista .ntb-combobox-text-container-disabled {
	padding-left:3px; 
	padding-top:2px; 
	padding-bottom:0px; 
	margin:0px; 
	background: #edf4fa;
}

.vista .ntb-combobox-text-ie, .vista .ntb-combobox-text-moz {
	border-style:none;
	padding:0px;
	border:0px;
	height:16px;
}
.vista .ntb-combobox-text-moz {
	height:18px;
}

/* Main container */
.vista .ntb-combobox-input-disabled {
	background: #CCCCCC;
}
.vista .ntb-combobox-text-container {
	border:1px solid #b8c0c8;
	border-top: 1px solid #595e63;
	border-top: 1px solid #595e63;
}
.vista .ntb-combobox-text-container-disabled {
	border:1px solid #DADADA; 
	background: #CCCCCC;
}

/* Defines the button */
.vista .ntb-combobox-button {
	cursor:pointer;
}
.vista .ntb-combobox-button-img, .vista .ntb-combobox-button-img-over, .vista .ntb-combobox-button-img-disabled,
.vista .ntb-combobox-button-img-pressed {
	vertical-align:text-bottom;
	width:21px;
	height:22px;
}

/* Defines the button's IMG tag */
.vista .ntb-combobox-button-img {
	background:url(assets/button.gif);
}
.vista .ntb-combobox-button-img-over {
	background:url(assets/button_hl.gif);
}
.vista .ntb-combobox-button-img-disabled {
	background:url(assets/button_hl.gif);
}
.vista .ntb-combobox-button-img-pressed {
	background:url(assets/button_pressed.gif);
}


/* The list container; contains the list's header, body, footer. */
.vista .ntb-combobox-list {
	border: #707070 1px solid;
	background-color: #fff;
	z-index: 1000;
	visibility: hidden;
	display: none;
	position: absolute;
	text-align: left;
	scrollbar-face-color:#D5DFF9;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#EBEFF7;
	scrollbar-darkshadow-color:#5D5A6D;
	scrollbar-shadow-color:#4D6185;
	scrollbar-arrow-color:#000000;
	scrollbar-track-color:#F4F1EC;
}

.vista .ntb-combobox-list-iframe, .vista .ntb-combobox-list-body, .vista .ntb-combobox-list-header, .vista .ntb-combobox-list-body-table, .vista .ntb-combobox-list-footer, .vista .ntb-combobox-column-labels, .vista .ntb-combobox-column-label, .vista .ntb-combobox-list-footer-page-next-button-highlight, .vista .ntb-combobox-list-footer-page-next-button, .vista .ntb-combobox-text-container, .vista .ntb-combobox-text-container-disabled, .vista .ntb-combobox-button {
	float:left;
}

/* The list's body; the middle container in the list container. */
.vista .ntb-combobox-list-body {
	background:#F9F9F9;
	overflow:auto;
	_overflow-x:hidden;
	_overflow-y:auto;
}

/* The list's header; the topmost container in the list container. */
.vista .ntb-combobox-list-header {
	background: url(assets/header.png) repeat-x left top;	
	overflow:hidden;
	height: 19px;
}

/* The footer that sits underneath the list. */
.vista .ntb-combobox-list-footer {
	background: url(assets/header.png) repeat-x left top;	
	border-top:1px solid #707070;
	vertical-align:middle;
	height:19px;
	overflow:hidden;
}

/* The table storing the actual list data */
.vista .ntb-combobox-list-body-table {
	background:#F6F6F6;
	border-collapse:collapse;
	table-layout:fixed;
}

/* A row in the table. */
.vista .ntb-combobox-list-body-table-row {
	border-collapse:collapse;
	height:16px;
	color: #0000CC;
	cursor:pointer;	
	table-layout:fixed;
}

/* The style used when the user selects or mouses over a row */
.vista .ntb-combobox-list-body-table-row-highlighted {
	color:#FFFFFF;
}

/* The column labels at the top of the columns. This style is applied to the whole row of labels. */
.vista .ntb-combobox-column-labels {
	vertical-align: text-top;
	border-collapse:collapse;
	height: 16px;
}

/* The style applied to the individual label. */
.vista .ntb-combobox-column-label {
	font-weight: bold;
	vertical-align: text-top;
	padding-left: 3px;	
	position:relative;
	top:0px;
}

/* The text inside the individual label (to prevent overflow) */
.vista .ntb-combobox-column-label-text {
	height:17px;
	overflow: hidden;
}

.vista .ntb-combobox-list-column-definition {
	height:18px;
	min-height:18px;
	cursor:pointer;	
	white-space: nowrap;
	overflow:hidden;
	color: #0000CC;
}

.vista .ntb-combobox-list-column-definition-cell {
    padding-left: 3px;
	white-space: nowrap;
}

.vista .ntb-combobox-list-footer-page-next-button {
	background: url(assets/paging.gif) no-repeat right top;
	border-top:1px solid #FFFFFF;
	padding-left: 2px;
	padding-top: 2px;
	height:20px;
	cursor:hand;
}

.vista .ntb-combobox-list-footer-page-next-button-highlight {
	background:#3399ff url(assets/paging.gif) no-repeat right top;
	border-top: #fff 1px solid;
	padding-left: 2px;
	padding-top: 2px;
	height:15px;
	cursor:hand;
}

/* affects the color of the list's outer border */
/* PLEASE DO NOT put anything else into this style */
/* this style is provided solely to change this one attribute */
.vista .ntb-combobox-list-outer-border {
      border-color:#000;
}

/*
* These are seperate because it causes the superclass to disappear and re-appear if we try and collapse these down
* any further in Firefox 2
*/
.vista .ntb-combobox-combo-menus {
	overflow:hidden;
	background-color: #F0F0E5;
	cursor: pointer;
	cursor: hand;
}
.vista .ntb-combobox-combo-menu, .vista .ntb-combobox-combo-menu-highlight {
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #828790;
	border-bottom:1px solid #fff;
	color: #fff;
}
.vista .ntb-combobox-combo-menu-highlight {
	background-color: #3399ff;
}

.vista .ntb-combobox-combo-menu-icon
{
}.nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}