/* Background */
.minimal_greenstripes .ntb-calendar {
	width: 180px;
	height: 190px;
	color: #888;
    text-align: center;
    font-weight: normal;
	background: #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: url(assets/background.png) repeat-x left top;
	padding-top: 2px;
}

/* General */
.minimal_greenstripes .ntb-calendar-container a {
    text-decoration: none;
}
.minimal_greenstripes .ntb-calendar-monthheader td,
.minimal_greenstripes .ntb-calendar-header td,
.minimal_greenstripes .ntb-calendar-day,
.minimal_greenstripes .ntb-calendar-dayheader {
	text-align: center;
    vertical-align: middle;
}
.minimal_greenstripes .ntb-calendar-container {
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-size: 11px;
}

/* Container & Basic font */
.minimal_greenstripes .ntb-calendar-container {
	-moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
}

/* Header (Multi) */
.minimal_greenstripes .ntb-calendar-header {
	height: 20px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: #b0d28b;
}
.minimal_greenstripes .ntb-calendar-title {	
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}

/* Header (Month) */
.minimal_greenstripes .ntb-calendar-monthheader {
    height: 23px;
}
.minimal_greenstripes a.ntb-calendar-month, .minimal_greenstripes a.ntb-calendar-year {
    color: #fff;
}

/* Header Buttons */
.minimal_greenstripes a.ntb-calendar-prev, .minimal_greenstripes a.ntb-calendar-next {
	font-size: 0;
	height: 21px;
	width: 21px;
	display: block;
	margin: 2px 1px 0 1px;
	background: url(assets/prev.gif) top left no-repeat;
	float: left;

}
.minimal_greenstripes a.ntb-calendar-next {
	background: url(assets/next.gif) top left no-repeat;
	float: right;
}

.minimal_greenstripes a.ntb-calendar-nextdis {
	background: url(assets/next_dis.gif) top left no-repeat;
	float: right;
	cursor: default;
}

.minimal_greenstripes a.ntb-calendar-prevdis {
	background: url(assets/prev_dis.gif) top left no-repeat;
	float: left;
	cursor: default;
}

/* Days (Week) */
.minimal_greenstripes .ntb-calendar-dayheader {
	height: 25px;
	color: #649b2d;
}

/* Days */
.minimal_greenstripes .ntb-calendar-day {
    color: #fff;
    cursor: pointer;
    height: 17px;
	line-height: 17px;
	margin: 3px;
}
.minimal_greenstripes a.ntb-calendar-thismonth:hover {
	color: #b0d28b;
}
.minimal_greenstripes .ntb-calendar a.ntb-calendar-disabled, .minimal_greenstripes .ntb-calendar a.ntb-calendar-disabled:hover {
	color: #4c7422;
	cursor: default;
}
.minimal_greenstripes .ntb-calendar a.ntb-calendar-event {
	background: #4c7422;
}
.minimal_greenstripes .ntb-calendar a.ntb-calendar-currentday {
	background: #b0d28b;
    color: #fff;
}

/* Days (Last & Nex Month) */
.minimal_greenstripes .ntb-calendar-lastmonth, .minimal_greenstripes .ntb-calendar-nextmonth {
	color: #4c7422;
	cursor: default;
}

/* Text Input */
.minimal_greenstripes .ntb-inputcontainer {
	border: 1px solid #b0d28b;
	font-size: 11px;
	width: 150px;
}

.minimal_greenstripes input.ntb-dateinput {
	height: 18px;
	padding: 0px;
	border: 0px;
	margin: 2px 0px 0px 2px;
	width: 140px;
	background-color: inherit;
}

.minimal_greenstripes input.ntb-dateinput:focus {
}
.minimal_greenstripes input.ntb-dateinput-empty {
	background:#333444;
}

.minimal_greenstripes .ntb-invalid {
	font-weight: bold;
	background-color: #eee;
	border: 1px solid #ff6666;
	font-size: 11px;
	width: 150px;
}

/* Calender Button */
.minimal_greenstripes .ntb-calendar-button {
	height: 20px;
	width: 21px;
	background: #b0d28b url(assets/button.gif) top left no-repeat;
	border: 1px solid #b0d28b;
	cursor: pointer;
	margin-left: 2px;
}

/* Chooser Navigation */
.minimal_greenstripes .ntb-calendar-navcontainer {
	border: 1px solid #b0d28b;
	width: 150px;
    background: #fff;
}
.minimal_greenstripes .ntb-calendar-navcontainer label {
	display: block;
}
.minimal_greenstripes .ntb-calendar-navcontainer select, .minimal_greenstripes .ntb-calendar-navcontainer input, .minimal_greenstripes .ntb-calendar-navcontainer button {
	font-size: 11px;
}
.minimal_greenstripes .ntb-calendar-navcontainer button {
	margin-right: 8px;
}
.minimal_greenstripes .ntb-calendar-navcontainer .ntb-calendar-monthcontainer,
.minimal_greenstripes .ntb-calendar-navcontainer .ntb-calendar-yearcontainer,
.minimal_greenstripes .ntb-calendar-navcontainer .ntb-calendar-controls {
	padding: 5px 15px;	
}
.minimal_greenstripes .ntb-calendar-navcontainer .ntb-calendar-controls {
	padding-bottom: 10px;
}
.minimal_greenstripes .ntb-calendar-navcontainer .ntb-calendar-navms {
	width: 120px;
}.nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}