<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Documento sin t&iacute;tulo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="<%= BASEURL %>/css/stilotrafico.css" rel="stylesheet" type="text/css"> 
<link href="../../../css/stilotrafico.css" rel="stylesheet" type="text/css">

<script>
window.onscroll = function(){
	var posx = getScrollXY();
	//var posx = medidas[0];
	//var posy = medidas [1];
	//alert("Eje x:" +posx);
	//alert("Eje x:" +posx);
	//alert(window.parent.frames.length);
	window.parent.frames["mainFrame"].scrollTo(posx,0);
}
function getScrollXY() {
  var scrOfX = 0, scrOfY = 0;
  if( typeof( window.pageYOffset ) == 'number' ) {
    //Netscape compliant
    scrOfY = window.pageYOffset;
    scrOfX = window.pageXOffset;
  } else if( document.body && ( document.body.scrollLeft || document.body.scrollTop ) ) {
    //DOM compliant
    scrOfY = document.body.scrollTop;
    scrOfX = document.body.scrollLeft;
  } else if( document.documentElement &&
      ( document.documentElement.scrollLeft || document.documentElement.scrollTop ) ) {
    //IE6 standards compliant mode
    scrOfY = document.documentElement.scrollTop;
    scrOfX = document.documentElement.scrollLeft;
  }
  return scrOfX ;
}


</script>

</head>

<body leftmargin="0" rightmargin="0" topmargin="0">
<table width="1335"   border="1" cellpadding="2" cellspacing="1" bordercolor="#CCCCCC" class="ptrafico">
  <tr>
    <td colspan="15" class="titulo"><div align="center">LISTA DE PLANILLAS</div></td>
  </tr>
  <tr class="subtitulos">
    <td width="42">ZONA</td>
    <td width="66">PLANILLA</td>
    <td width="42">PLACA</td>
    <td width="156">CONDUCTOR</td>
    <td width="79">ORIGEN </td>
    <td width="78">DESTINO</td>
    <td width="88">FECHA Y HORA  DESPACHO </td>
    <td width="61">CARAVANA</td>
    <td width="102">FECHA ULTIMO REPORTE </td>
    <td width="80">ULTIMO REPORTE </td>
    <td width="43">TIEMPO</td>
    <td width="83">PROX REPORTE </td>
    <td width="109">FECHA PROX REPORTE </td>
    <td width="113">OBSERVACION</td>
    <td width="85">USUARIO</td>
  </tr>
</table>
</body>
</html>
