.winxpblue .ntb-combobox
{}

.winxpblue .ntb-combobox-text-container, .winxpblue .ntb-combobox-text-container-disabled
{
	float:left; 
	padding-left:3px; 
	padding-top:2px; 
	padding-bottom:0px; 
	margin:0px; 
}

.winxpblue .ntb-combobox-text-container
{
	border:1px solid #769CCB; 
}

.winxpblue .ntb-combobox-text-container-disabled
{
	border:1px solid #DADADA; 
	background-image:url(tbback.gif);
	background-color: #CCCCCC;
}

.winxpblue .ntb-combobox-text-ie, .winxpblue .ntb-combobox-text-moz {
	border-style:none;
	padding:0px;
	border:0px;
	font:10pt Arial;
}

.winxpblue .ntb-combobox-text-ie
{
	height:16px;
}

.winxpblue .ntb-combobox-text-moz
{
	height:18px;
}

.winxpblue .ntb-combobox-input-disabled
{
	background-color: #CCCCCC;
}


/* Defines the button */
.winxpblue .ntb-combobox-button
{
	cursor:pointer;
	float:left;
}

.winxpblue .ntb-combobox-button-img, .winxpblue .ntb-combobox-button-img-over, .winxpblue .ntb-combobox-button-img-disabled,
.winxpblue .ntb-combobox-button-img-pressed
{
	vertical-align:text-bottom;
	/* width/height necessary to size the transparent 1x1pixel gif to allow
		the above background to show */
	width:17px;
	height:22px;
}

/* Defines the button's IMG tag */
.winxpblue .ntb-combobox-button-img
{
	background:url("button.gif");
}
/* The class used when the user mouses over the button. */
.winxpblue .ntb-combobox-button-img-over
{
	background:url("button_hl.gif");
}
/* The class used when the combo is disabled. */
.winxpblue .ntb-combobox-button-img-disabled
{
	background:url("button_hl.gif");
}
/* The class used when the user presses the button. */
.winxpblue .ntb-combobox-button-img-pressed
{
	background:url("button_pressed.gif");
}


/* The list container; contains the list's header, body, footer. */
.winxpblue .ntb-combobox-list
{
	/*float:left;*/
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	background-color: white;
	z-index: 1000;
	visibility: hidden;
	display: none;
	position: absolute;
	text-align: left;
	scrollbar-face-color:#D5DFF9;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#EBEFF7;
	scrollbar-darkshadow-color:#5D5A6D;
	scrollbar-shadow-color:#4D6185;
	scrollbar-arrow-color:#000000;
	scrollbar-track-color:#F4F1EC;
}

.winxpblue .ntb-combobox-list-iframe
{
	float:left;
}

/* The list's body; the middle container in the list container. */
.winxpblue .ntb-combobox-list-body
{
	/* workaround to scrolling issue */
	overflow:auto;
	_overflow-x:hidden;
	_overflow-y:auto;
	background:#F9F9F9;
	font:8pt Verdana;
	float:left;
}

/* The list's header; the topmost container in the list container. */
.winxpblue .ntb-combobox-list-header
{
	overflow:hidden;
	background-color:#F0F0E5;
	border-bottom:1px solid #D8D2BD;
	border-top:1px solid #FFFFFF;	
	float:left;
}

/* The table storing the actual list data */
.winxpblue .ntb-combobox-list-body-table
{
	border-collapse:collapse;
	background: #ffffff;
	float:left;
	table-layout:fixed;
}

/* A row in the table. */
.winxpblue .ntb-combobox-list-body-table-row
{
	border-collapse:collapse;
	height:16px;
	border:#F9F9F9 0px solid;
	color: #0000CC;
	cursor:pointer;	
	table-layout:fixed;
}

/* The style used when the user selects or mouses over a row */
.winxpblue .ntb-combobox-list-body-table-row-highlighted
{
	color:#FFFFFF;
}

/* The column labels at the top of the columns. This style is applied to the whole row of labels. */
.winxpblue .ntb-combobox-column-labels
{
	font-size: 8pt;
	font-family: Arial;
	vertical-align: text-top;
	border-collapse:collapse;
	height: 20px;
	float:left;
}

/* The style applied to the individual label. */
.winxpblue .ntb-combobox-column-label
{
	vertical-align: text-top;
	padding-left: 3px;	
	position:relative;
	top:0px;
	float:left;
}

/* The text inside the individual label (to prevent overflow) */
.winxpblue .ntb-combobox-column-label-text
{
	height:17px;
	overflow: hidden;
}

/* The footer that sits underneath the list. */
.winxpblue .ntb-combobox-list-footer
{
	font:8pt Arial;
	background-color: #F0F0E5;
	border-bottom:1px solid #D8D2BD;
	border-top:1px solid #D8D2BD;
	vertical-align:middle;
	color: #000000;
	height:20px;
	float:left;
	overflow:hidden;
}

.winxpblue .ntb-combobox-list-column-definition
{
	height:18px;
	min-height:18px;
	cursor:pointer;	
	white-space: nowrap;
	overflow:hidden;
	color: #0000CC;
}

.winxpblue .ntb-combobox-list-column-definition-cell
{
    padding-left: 3px;
	white-space: nowrap;
}

.winxpblue .ntb-combobox-list-footer-page-next-button
{
	background: url("paging.gif") no-repeat right top;
	border-top:1px solid #FFFFFF;
	padding-left: 2px;
	padding-top: 2px;
	color: #000000;
	height:20px;
	cursor:hand;
	float:left;
}

.winxpblue .ntb-combobox-list-footer-page-next-button-highlight
{
	background:#ffeec2 url("paging.gif") no-repeat right top;
	color: #000000;
	border-top:1px solid #ffeec2;
	padding-left: 2px;
	padding-top: 2px;
	height:20px;
	cursor:hand;
	float:left;
}

/* affects the color of the list's outer border */
/* PLEASE DO NOT put anything else into this style */
/* this style is provided solely to change this one attribute */
.winxpblue .ntb-combobox-list-outer-border
{
      border-color:#000;
}

/*
* These are seperate because it causes the superclass to disappear and re-appear if we try and collapse these down
* any further in Firefox 2
*/
.winxpblue .ntb-combobox-combo-menus
{
	overflow:hidden;
	background-color: #F0F0E5;
	font:8pt Tahoma,Verdana,Arial;
	color:#000000;
	cursor: pointer;
	cursor: hand;
}
.winxpblue .ntb-combobox-combo-menu
{
	background-color: #F0F0E5;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom:1px solid #D8D2BD;
}
.winxpblue .ntb-combobox-combo-menu-highlight
{
	background-color: #cac9b5;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom:1px solid #D8D2BD;
}

.winxpblue .ntb-combobox-combo-menu-icon
{
}.nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}