BODY {
	FONT-SIZE: 12pt; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 12pt; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	BORDER-RIGHT: black thin solid; BORDER-TOP: black thin solid; FONT-WEIGHT: bold; FONT-SIZE: 20px; BORDER-LEFT: black thin solid; BORDER-BOTTOM: black thin solid; FONT-FAMILY: Times, Bookman, serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.hilite {
	BACKGROUND-COLOR: yellow
}
.redlite {
	COLOR: #ff0000; BACKGROUND-COLOR: #ffff00
}
A:link {
	FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #9999dd; TEXT-DECORATION: none
}
A:visited {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #9999dd; TEXT-DECORATION: none
}
A:hover {
	COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #9999dd; TEXT-DECORATION: none
}
A:active {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #9999dd; TEXT-DECORATION: none
}
.redfont {
	COLOR: #ff0000
}
.greenback {
	BACKGROUND-COLOR: #00ff33
}
.orangeback {
	BACKGROUND-COLOR: #ff9933
}
.itabold {
	FONT-WEIGHT: bolder; FONT-STYLE: italic
}
.blueback {
	BACKGROUND-COLOR: #33ccff
}
.roseback {
	BACKGROUND-COLOR: #ff99cc
}
